body, #wpadminbar *:not([class="ab-icon"]), .rtl h1, .rtl h2, .rtl h3, .rtl h4, .rtl h5, .rtl h6, .wp-core-ui, .media-menu, .media-frame *, .media-modal * {
    font-family: venus-fs, roboto, Arial !important;
}

.ve-btn-upload {
    padding: 7px 0 9px 0;
    color: #fff !important;
    margin: 10px auto;
    border-radius: 5px;
    background: linear-gradient(324deg, #d70d59 0%, #fc3924 100%);
    font-weight: 500;
    width: 100%;
    cursor: pointer;
    outline: none;
    border: none;
}

.ve-preview-img-uploaded {
    display: block;
    width: 99%;
    padding: 5px;
    background-color: #eee;
    border-radius: 5px;
    margin: auto;
}

#ve-link-bg-product {
    width: 100%;
    direction: ltr;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 4px 7px;
}

.vc_ui-panel-content-container, .vc_link .vc_link_label, .wp-color-result-text, .vc_general.vc_ui-tabs-line .vc_ui-tabs-line-trigger, .vc_description, .vc_properties-list input, .vc_properties-list select, .vc_ui-panel-footer .vc_ui-button-group .vc_ui-button, .vc_ui-panel-footer .vc_ui-button-group .vc_ui-button-message, .compose-mode .vc_element-name .vc_btn-content, .vc_element_label, .wpb_element_label, .vc_add-element-container .wpb-content-layouts a {
    font-family: venus-fs !important;
}

.ctr_course {
    line-height: 40px;
}

input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea {
    font-family: venus-fs !important;
}

#your-profile label + a, label {
    font-family: venus-fs;
}

html[dir="rtl"] .redux-container .redux-action_bar {
    direction: ltr;
}

.rtl .redux-container .redux-main {
    margin-left: 0;
}

.redux-main .button {
    margin-right: 8px;
}

.redux-group-tab-link-a span.group_title {
    padding-right: 40px !important;
}

.redux-sidebar .redux-group-menu li a {
    padding: 12px 4px 12px 14px;
}

.wpmlr_wrap form.register_version_form, .current_license {
    width: 30%;
    background: #FFBF11;
    border-radius: 8px;
    margin: 0 auto;
    padding: 20px 30px;
}

.wpmlr_wrap form.register_version_form button {
    width: 100%;
    margin-top: 10px;
    padding: 7px 0 9px;
    background: #5C546B !important;
    box-shadow: none !important;
    border: none !important;
    border-radius: 4px !important;
}

.wpmlr_wrap form.register_version_form .license_key {
    width: 100%;
}
