@import url(owl.carousel.min.css);

.owlCarousel {
    direction: rtl;
}

.container-digikala {
    max-width: 1377px;
}

.main-full-box-row-show-product {
    background-color: #fff;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    border-radius: 8px;
    overflow: hidden;
}

.main-full-box-row-show-product .head-sec {
    min-height: 49px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 0 6px 33px;
    position: relative;
    padding-left: 5px;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.main-full-box-row-show-product .head-sec:after {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #dfdfdf;
    height: 1px;
    content: "";
    z-index: 0;
}

.main-full-box-row-show-product .head-sec a {
    padding: 8px 0;
    min-height: 49px;
    font-size: 18.004px;
    line-height: 31px;
    white-space: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    font-weight: 700;
    color: rgb(81, 81, 81);
}

.main-full-box-row-show-product .head-sec a:before {
    content: "";
    position: absolute;
    right: 0;
    left: -40px;
    bottom: 0;
    background-color: #ef5661;
    height: 1px;
    z-index: 1;
}

.main-full-box-row-show-product .head-sec a:after {
    content: "";
    position: absolute;
    left: -45px;
    width: 15px;
    height: 1px;
    background-color: #fff;
    bottom: 0;
    z-index: 1;
}

.digikala-product {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    border-radius: 8px;
    background-color: #fff;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 10px 5px 5px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 30px 15px 16px;
    position: relative;
    -webkit-transition: -webkit-box-shadow .2s cubic-bezier(.4, 0, 1, 1), -webkit-transform .2s cubic-bezier(.4, 0, 1, 1);
    transition: -webkit-box-shadow .2s cubic-bezier(.4, 0, 1, 1), -webkit-transform .2s cubic-bezier(.4, 0, 1, 1);
    transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1), transform .2s cubic-bezier(.4, 0, 1, 1);
    transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1), transform .2s cubic-bezier(.4, 0, 1, 1), -webkit-box-shadow .2s cubic-bezier(.4, 0, 1, 1), -webkit-transform .2s cubic-bezier(.4, 0, 1, 1);
}

.digikala-product:hover {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    z-index: 11;
}

.digikala-img .digikala-inner-img-product {
    width: 180px !important;
    height: 180px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    max-width: 100%;
    position: relative;
    max-height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    margin: auto;
}

.digikala-img .digikala-inner-img-product:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-weight: 300;
    color: transparent;
    text-align: center;
    content: attr(alt);
    background: #fff url(../images/img-product.svg) no-repeat 50%;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.digikala-title {
    display: block;
    width: 100%;
    margin-top: 14px;
    overflow: hidden;
    font-size: 12px;
    text-align: right;
    line-height: 25px;
    color: #535353;
}

.digikala-title a {
    font-size: 12px;
    text-align: right;
    color: #4C4C4C !important;
    margin-top: 20px;
    text-decoration: none;
    height: 55px;
    line-height: 25px;
    display: block;
    font-weight: 400;
}

.digikala-price {
    display: block;
    width: 100%;
    text-align: left;
}

.digikala-price .woocommerce-Price-amount {
    font-size: 16px;
    line-height: 1.375;
    color: #000;
    font-weight: 700;
}

.digikala-price .woocommerce-Price-amount .woocommerce-Price-currencySymbol {
    font-size: 10px;
    line-height: 2.2;
    font-weight: 400;
}

.digikala-price del .woocommerce-Price-amount {
    font-size: 13px;
    line-height: 1.375;
    color: #ababab;
    font-weight: 400;
}

.digikala-price del .woocommerce-Price-amount .woocommerce-Price-currencySymbol {
    font-size: 10px;
    line-height: 2.2;
    font-weight: 400;
}

.digikala-product .badge-vip {
    font-size: 1rem;
    line-height: 1.571;
    font-weight: 700;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #fb3449;
    color: #fff;
    border-radius: 16px;
    width: 50px;
    text-align: center;
    display: inline-block;
    position: absolute;
    z-index: 11;
    top: 10px;
    left: 10px;
}

.index-left-box-show-product .owl-carousel .owl-nav .owl-next {
    position: absolute;
    top: 32%;
    left: -25px;
    -webkit-box-shadow: 1.5px 0 4px 0 rgba(0, 0, 0, .15) !important;
    box-shadow: 1.5px 0 4px 0 rgba(0, 0, 0, .15) !important;
    border-radius: 0 8px 8px 0;
    width: 49px;
    height: 90px;
    outline: none !important;
    background-color: #fff;
}

.index-left-box-show-product .owl-carousel .owl-nav .owl-prev {
    position: absolute;
    top: 32%;
    right: -25px;
    -webkit-box-shadow: 1.5px 0 4px 0 rgba(0, 0, 0, .15) !important;
    box-shadow: 1.5px 0 4px 0 rgba(0, 0, 0, .15) !important;
    border-radius: 8px 0 0 8px;
    width: 49px;
    height: 90px;
    outline: none !important;
    background-color: #fff;
}

.index-left-box-show-product .owl-carousel .owl-nav .disabled {
    opacity: .15;
    cursor: auto;
    pointer-events: all;
}

.slide-progress {
    width: 0;
    max-width: 100%;
    height: 1px;
    border-image-source: linear-gradient(90deg, #ffd3db, #fb3449);
    box-shadow: 0 0 8px 0 rgba(255, 138, 138, .5);
    border-top-style: solid;
    border-width: 0;
    border-top-width: 1px;
    border-image-source: linear-gradient(90deg, #ffd3db, #fb3449);
    border-image-slice: 1;
    display: inline-block;
    animation: progressbar 10s ease-in-out;
    animation-iteration-count: infinite;
}

.head-amazing-product {
    font-weight: 500;
    color: #6e6e6e;
    margin: 7px 13px 0;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}

.amazing-pro-elementor .owl-carousel .owl-nav .owl-next {
    left: 5px;
}

.amazing-pro-elementor .owl-carousel .owl-nav .owl-prev {
    right: 5px;
}

.digikala-price .countvenus-title-timer {
    margin-top: 10px;
}

.digikala-price .countvenus-title-timer .deal-text {
    display: none;
}

.digikala-price .countvenus-timer-product-sell .countdown-item .countvenus-col .countdown-unit {
    margin-right: 2px !important;
    margin-left: 2px !important;
}

.digikala-price .countvenus-title-timer .countdown-item .countvenus-col .countdown-unit .text {
    display: none;
}

.digikala-price .countvenus-timer-product-sell:before {
    font-family: "Font Awesome 5 Pro";
    content: "\f34e";
    float: left;
}

.digikala-price .countvenus-timer-product-sell .countdown-item .countvenus-col {
    position: relative;
}

.digikala-price .countvenus-timer-product-sell .countdown-item .countvenus-col .countdown-unit .number {
    background-color: transparent !important;
    border: none !important;
}

.digikala-price .countvenus-timer-product-sell .countdown-item .countvenus-col .countdown-sec .number {
    color: #2A2A2A !important;
}

.digikala-price .countvenus-timer-product-sell .countdown-item .countvenus-col:after {
    position: absolute;
    content: ':';
    top: 0;
    right: -1px;
}

.digikala-price .countvenus-timer-product-sell .countdown-item .countvenus-col:last-child:after {
    content: none;
}

.amazing-pro-elementor .digikala-price del span {
    font-size: 14px;
    color: #939393;
}

.amazing-pro-elementor .digikala-price ins .woocommerce-Price-amount {
    color: #FF4157;
    font-size: 21px;
    font-weight: bold;
}

.amazing-pro-elementor .digikala-price ins .woocommerce-Price-amount .woocommerce-Price-currencySymbol {
    font-size: 12px;
    margin-right: -4px;
    font-weight: 400;
}

.digikala-search-box input {
    width: 100%;
    height: 100%;
    color: #474747;
    font-weight: 300;
    font-size: 12px;
    line-height: 1.833;
    z-index: 5;
    position: relative;
    border-radius: 8px;
    background-color: #f0f0f1;
    border: none;
    padding: 14px 45px 14px 10px;
    outline: none !important;
}

.digikala-search-box form .btn {
    position: absolute;
    top: 8.5px;
    /*right: 0;*/
    z-index: 22;
}

.digikala-search-box form .btn i {
    color: #a1a3a8;
}

.digikala-mini-cart .cart-items {
    position: absolute;
    top: unset;
    left: -10px;
    z-index: 10;
    cursor: auto;
    padding: 0;
    opacity: 0;
    pointer-events: none;
    width: 300px;
    background: #fff;
    border-radius: 8px;
    -webkit-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .2);
}

.digikala-mini-cart .cart-items .head-mini-cart {
    padding: 16px 16px 16px 12px;
}

.digikala-mini-cart .cart-items .head-mini-cart h3 {
    font-size: .857rem;
    line-height: normal;
    color: #81858b;
}

.digikala-mini-cart .cart-items .head-mini-cart a {
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #0fabc6;
    font-size: .857rem !important;
    line-height: normal !important;
}

.digikala-mini-cart .cart-items .head-mini-cart a i {
    font-size: 12px !important;
    color: #0fabc6 !important;
    margin-right: 5px;
    padding-top: 3px;
    font-weight: 400;
}

.digikala-mini-cart .cart-items .digikala_cart_content .woocommerce-mini-cart {
    max-height: 320px;
    overflow-y: auto;
    overflow-x: hidden;
    list-style: none;
    border-top: 1px solid #f0f0f1;
}

.digikala-mini-cart .cart-items .digikala_cart_content .woocommerce-mini-cart li .item-right {
    width: 75px;
    height: 75px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75px;
    flex: 0 0 75px;
    max-width: 75px;
    position: relative;
}

.digikala-mini-cart .cart-items .digikala_cart_content .woocommerce-mini-cart li .item-right a img {
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    margin: 0;
    width: 100%;
}

.digikala-mini-cart .cart-items .digikala_cart_content .woocommerce-mini-cart li .item-right img {
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
}

.digikala-mini-cart .cart-items .digikala_cart_content .woocommerce-mini-cart li {
    padding: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    border-bottom: 1px solid #f0f0f1;
    margin: 0 12px;
}

.digikala-mini-cart .cart-items .digikala_cart_content .woocommerce-mini-cart li:last-child {
    border-bottom: none !important;
    padding-bottom: 0 !important;
}

.digikala-mini-cart .cart-items .digikala_cart_content .woocommerce-mini-cart li .item-left .digikala-title-products, .digikala-mini-cart .cart-items .digikala_cart_content .woocommerce-mini-cart li .item-left .digikala-title-products a {
    font-size: 12.5px !important;
    line-height: normal !important;
    font-weight: 700;
    margin-bottom: 8px;
    color: #424750;
}

.digikala-mini-cart .cart-items .digikala_cart_content .woocommerce-mini-cart li .item-left .bottom-products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.digikala-mini-cart .cart-items .digikala_cart_content .woocommerce-mini-cart li .item-left .bottom-products dl.variation {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 3px;
    padding: 0;
    border: none;
}

.digikala-mini-cart .cart-items .digikala_cart_content .woocommerce-mini-cart li .item-left .bottom-products dl.variation dt {
    display: inline-block;
    font-size: 13px;
    padding: 0;
}

.digikala-mini-cart .cart-items .digikala_cart_content .woocommerce-mini-cart li .item-left .bottom-products dl.variation dd {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 0;
    font-size: 13px;
    padding: 0;
}

.digikala-mini-cart .cart-items .digikala_cart_content .woocommerce-mini-cart li .item-left .bottom-products dl.variation dd p {
    margin: 0;
}

.digikala-mini-cart .cart-items .digikala_cart_content .woocommerce-mini-cart li .item-left .bottom-products .remove_from_cart_button i {
    font-size: 15px;
    color: #a1a3a8;
    cursor: pointer;
}

.digikala-end-mini-cart {
    padding: 8px;
    border-top: 1px solid #f0f0f1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.digikala-mini-cart .digikala-end-mini-cart .woocommerce-mini-cart__buttons a {
    box-shadow: none !important;
    font-size: 13px;
    padding: 10px 0 10px 0;
    margin-top: 7px;
}

.digikala-mini-cart .digikala-end-mini-cart .woocommerce-mini-cart__total strong {
    font-size: 13px;
    color: #515151;
}

.digikala-mini-cart .digikala-end-mini-cart .woocommerce-Price-amount {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 7px;
}

.digikala-mini-cart .digikala-end-mini-cart .woocommerce-Price-amount .woocommerce-Price-currencySymbol {
    font-size: 10px;
}

.digikala-mini-cart .cart .fal.fa-shopping-cart {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.digikala-mini-cart .cart .fal.fa-shopping-cart span {
    font-family: venus-fs;
    position: absolute;
    display: inline-block;
    top: 17px;
    right: unset;
    left: -5px;
    width: 20px;
    height: 18px;
    font-size: 9px;
    color: #ffffff;
    background: #EF394E;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    line-height: 19px;
    border-radius: 50%;
    text-align: center;
}

.digikala-mini-cart .cart {
    position: relative;
    display: inline-block;
    text-align: right;
    cursor: pointer;
}

.digikala-mini-cart .cart i {
    font-size: 22px;
    padding-top: 5px;
    position: relative;
    cursor: pointer;
    z-index: 20;
}

.digikala-mini-cart .cart:hover .cart-items {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
}

.no-pad-down > .elementor-column-gap-default > .elementor-row > .elementor-column > .elementor-element-populated {
    padding-bottom: 0;
}


/*Start Single Product*/
.venus-single-pro {
    background-color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
}

.venus-single-pro .left-product .title-pro {
    margin: 17.2px 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #000;
    position: relative;
}

.venus-single-pro .left-product .title-pro .title-en {
    position: absolute;
    bottom: -16px;
    right: 0;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    color: #b5b5b5;
    background-color: #fff;
    font-size: 12px;
    line-height: 1.833;
    font-weight: 400;
    padding-left: 12px;
}

.venus-single-pro .left-product .content-pro {
    padding-top: 16px;
    border-top: 1px solid #f2f2f2;
}

.venus-single-pro .left-product .content-pro .c-product-directory ul {
    list-style: none;
    padding: 0;
    display: inline-block;
}

.venus-single-pro .left-product .content-pro .c-product-directory ul > li > span {
    font-size: 11px;
    font-weight: 400;
}

.venus-single-pro .left-product .content-pro .c-product-directory ul li {
    /*display: flex;*/
    display: inline-block;
}

.venus-single-pro .left-product .content-pro .c-product-directory ul li ul li {
    margin-right: 15px;
}

.venus-single-pro .left-product .content-pro .c-product-directory ul li ul li:last-child {
    margin-right: 0;
}

.venus-single-pro .left-product .content-pro .c-product-directory ul li ul li span {
    /*font-size: 11.998px;*/
}

.venus-single-pro .left-product .content-pro .c-product-directory ul li ul li a {
    color: #1ca2bd;
    padding: 0;
    line-height: 2;
    position: relative;
    font-weight: 400;
    font-size: 11.998px;
}

.venus-single-pro .left-product .content-pro .c-product-directory ul li ul li a:after {
    left: 0;
    right: 0;
    top: 55%;
    margin-top: .85em;
    content: "";
    position: absolute;
    border-bottom: 1px dashed #1ca2bd;
}

.venus-single-pro .left-product .content-pro .c-product-params ul {
    padding: 0;
    margin: 0;
}

.venus-single-pro .left-product .content-pro .c-product-params ul li {
    position: relative;
    margin: 5px 0;
    list-style: none;
    color: #55565a;
    font-size: 12px;
    font-weight: 400;
}

.venus-single-pro .left-product .content-pro .c-product-params ul li:before {
    content: "";
    width: 5px;
    height: 5px;
    background: #ccc;
    vertical-align: middle;
    border-radius: 50%;
    position: absolute;
    right: -15px;
    top: 10px;
}

.c-cart-price .c-inner-cart-price {
    background-color: #f5f5f5;
    border: 1px solid #e4e4e4;
    border-radius: 8px;
    padding: 10px;
}

.c-cart-price .c-inner-cart-price .cart .single_add_to_cart_button {
    box-shadow: none !important;
    background-color: #ef394e !important;
    padding: 7px 0 11px 0 !important;
}

.c-cart-price .c-inner-cart-price .c-price-product .woocommerce-Price-amount {
    font-size: 30px;
    font-weight: 400;
    color: #fb3449;
}

.c-cart-price .c-inner-cart-price .c-price-product .woocommerce-Price-amount .woocommerce-Price-currencySymbol {
    font-size: 13px;
}

.c-cart-price .c-inner-cart-price .c-price-product del .woocommerce-Price-amount {
    color: #b4b4b4;
    font-size: 18px;
}

.c-cart-price .c-inner-cart-price .c-price-product del .woocommerce-Price-amount .woocommerce-Price-currencySymbol {
    display: none;
}

.digikala-content-product {
    background-color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
}

.digikala-content-product .woocommerce-tabs .tabs {
    background-color: #f8f8f8;
    border: 1px solid #dfdfdf;
    border-bottom: none;
    padding-right: 0 !important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
    background-color: transparent;
}

.woocommerce div.product .digikala-content-product .woocommerce-tabs ul.tabs li {
    border-left: 1px solid #dfdfdf !important;
    border: none;
    border-radius: 0 !important;
    padding: 0 25px 0 20px !important;
    border-top: 3px solid #ffffff00;
}

.woocommerce div.product .digikala-content-product .woocommerce-tabs ul.tabs li:before, .woocommerce div.product .digikala-content-product .woocommerce-tabs ul.tabs li:after {
    content: none;
}

.woocommerce div.product .digikala-content-product .woocommerce-tabs ul.tabs li.active {
    border-top: 3px solid #00bfd6 !important;
}

.digikala-content-product .woocommerce-tabs .woocommerce-Tabs-panel {
    padding: 25px !important;
}

.digikala-content-product .woocommerce-tabs .woocommerce-Tabs-panel .comment-respond {
    background-color: transparent !important;
    padding: 0 !important;
}

.c-right-box .rate-product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #81858b;
    font-size: 11px;
    font-weight: 400;
}

.c-right-box .comments-product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #81858b;
    font-size: 11px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 8px;
    font-weight: 400;
}

.c-right-box .comments-product:before {
    content: "";
    height: 4px;
    width: 4px;
    margin-left: 8px;
    background-color: #dfdfdf;
    border-radius: 999px;
}

.woocommerce-product-gallery {
    /*direction: ltr;*/
}

.digikala-gallery {
    width: 100%;
    height: 385px;
    border-left: 1px solid #f4f4f4;
}

.digikala-gallery .woocommerce-product-gallery div .woocommerce-product-gallery__wrapper div a img {
    width: 60% !important;
    margin: auto;
}

.digikala-gallery .woocommerce-product-gallery {
    width: 100% !important;
    margin-bottom: 0 !important;
}

.digikala-gallery .woocommerce-product-gallery ol {
    display: flex;
    justify-content: center;
    margin-top: 25px !important;
}

.digikala-gallery .woocommerce-product-gallery ol li {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 5px;
    margin-left: 7px !important;
    width: 15% !important;
}

/*Start Archive*/
.container-digikala > div {
    margin-top: 45px;
}

.container-digikala .blog-sidebar .widget {
    background-color: #fff;
}

.container-digikala .digikala-top-result {
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}

.container-digikala .digikala-top-result .woocommerce-result-count {
    margin: auto 0;
    display: inline-block !important;
}

.container-digikala .digikala-top-result .woocommerce-ordering {
    margin: auto 0 !important;
    width: fit-content;
}

.container-digikala .digikala-top-result .woocommerce-ordering select {
    margin: 0 !important;
    border-radius: 5px;
    padding: 5px 10px !important;
    box-shadow: none;
}

.container-digikala .digikala-bg-section {
    background-color: #fff;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .03);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .03);
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    padding: 0 10px 20px 10px;
}

.container-digikala .digikala-bg-section .row {
    border-top: 1px solid #ebe9e9;
    margin: 0;
}

.container-digikala .digikala-bg-section .row .digikala-product {
    border: 1px solid #ebebeb !important;
    border-radius: 0 !important;
}

.container-digikala .digikala-bg-section .row .digikala-product:hover {
    transform: unset !important;
    -webkit-box-shadow: 0 2px 17px 0 rgba(0, 0, 0, .09) !important;
    box-shadow: 0 2px 17px 0 rgba(0, 0, 0, .09) !important;
    z-index: 11;
}

.container-digikala div .digikala-holder-bg-section .digikala-breadcrumbs {
    display: block !important;
}

.container-digikala div .digikala-holder-bg-section .digikala-breadcrumbs nav {
    margin-bottom: 8px;
}

.digikala-header-main-menu .digikala-holder-main-menu ul {
    padding: 0;
    margin: 0;
}

.digikala-header-main-menu .digikala-holder-main-menu ul li {
    position: relative;
    list-style: none;
    display: inline-block;
}

.digikala-header-main-menu .digikala-holder-main-menu ul > li:hover > ul {
    display: block;
}

.digikala-header-main-menu .digikala-holder-main-menu ul li ul {
    position: absolute;
    top: 133%;
    display: none;
    right: 0;
    z-index: 12;
    width: 200px;
    background-color: #fff;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-radius: 0 0 8px 8px;
    padding: 0px 0 5px;
    -webkit-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .15);
}

.digikala-header-main-menu .digikala-holder-main-menu ul li ul li ul {
    top: 0;
    right: 200px;
    border-radius: 8px;
}

.digikala-header-main-menu .digikala-holder-main-menu ul li ul li {
    display: block;
}

.digikala-header-main-menu .digikala-holder-main-menu ul li a {
    position: relative;
    padding: 7px 12px 15px;
    color: #616161;
    font-weight: 700;
    font-size: 12px;
    transition: all 0.3s;
}

.digikala-header-main-menu .digikala-holder-main-menu ul li ul li a {
    display: block;
    padding: 10px;
    font-size: 13px;
    font-weight: 400;
    color: #4a5f73;
}

.digikala-header-main-menu .digikala-holder-main-menu ul li ul li a:hover {
    color: #ef5661;
}

.digikala-header-main-menu .digikala-holder-main-menu ul li ul li a:before {
    content: none;
}

.digikala-header-main-menu .digikala-holder-main-menu ul > li > a:hover:before {
    opacity: 1;
    left: 0;
    right: 0;
    width: 100%;
}

.digikala-header-main-menu .digikala-holder-main-menu ul li:hover a:before {
    opacity: 1;
    left: 0;
    right: 0;
    width: 100%;
}

.digikala-header-main-menu .digikala-holder-main-menu ul > li > a:before {
    transition: all 0.3s;
    content: "";
    position: absolute;
    width: 0%;
    bottom: 0;
    z-index: 4;
    left: 50%;
    right: 50%;
    height: 2px;
    background-color: #ef5661;
    opacity: 0;
}

.digikala-header-main-menu p {
    color: #4a5f73;
    font-size: 16px;
    font-weight: 400;
}

.digikala-holder-vertical-menu ul {
    margin: 0;
    padding: 0;
}

.digikala-holder-vertical-menu ul li {
    list-style: none;
}

.digikala-holder-vertical-menu ul li a {
    color: #4b4b4b;
    font-size: 14px;
}

.digikala-btn-profile {
    background-color: transparent;
    display: inline-block;
}

.btn-login-digikala {
    display: block;
    width: auto;
    padding: 10px 15px;
    background-color: transparent;
    border-radius: 7px !important;
    text-align: center;
    font-weight: normal;
    color: #000;
    font-size: 14px;
    border: none;
    outline: none !important;
    box-shadow: none;
    transition: all .3s ease;
}

.btn-login-digikala:hover {
    color: #000;
}

/*Start dashboard*/
.woo-digikala-dashboard .digikala-sidebar-inner {
    border-radius: 8px;
    border: 1px solid #ededed;
    background-color: #fff;
    padding: 16px;
}

.woo-digikala-dashboard .digikala-sidebar-inner .my-account-section-title {
    background: transparent !important;
    border: 1px solid #ededed;
    box-shadow: none !important;
    color: #424750;
}

.woo-digikala-dashboard .digikala-sidebar-inner .my-account-section-title:before {
    color: #424750 !important;
}

.woo-digikala-dashboard .digikala-sidebar-inner .my-account-section-title:after {
    color: #424750;
}

.digikala-panel-content .digikala-content-inner {
    position: relative;
    border-radius: 8px;
    border: 1px solid #ededed;
    background-color: #fff;
    padding: 16px;
    overflow: hidden;
}

.woo-digikala-dashboard .digikala-sidebar-inner .digikala-info-user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

.woo-digikala-dashboard .digikala-sidebar-inner .digikala-info-user .avatar {
    width: 48px;
    height: 48px;
    background: #fff;
    background-size: contain;
    -webkit-box-shadow: 0 0 0 4px hsla(0, 0%, 100%, .61);
    box-shadow: 0 0 0 4px hsla(0, 0%, 100%, .61);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: 50%;
    position: relative;
    left: 0;
    top: 0;
    cursor: pointer;
}

.woo-digikala-dashboard .digikala-sidebar-inner .digikala-info-user .digikala-user-name {
    height: 48px;
    margin-right: 16px;
}

.woo-digikala-dashboard .digikala-sidebar-inner .digikala-info-user .digikala-user-name .name-user {
    display: block;
    font-size: 16px;
    line-height: 1.375;
    vertical-align: center;
    color: #232933;
    font-weight: 700;
}

.woo-digikala-dashboard .digikala-sidebar-inner .digikala-info-user .digikala-user-name .phone-user {
    font-size: 12px;
    line-height: 1.833;
    color: #81858b;
}

.woo-digikala-dashboard .digikala-sidebar-inner .panel-navigation {
    border-top: 1px solid #ededed;
    margin-top: 15px;
    padding-top: 8px;
}

.woo-digikala-dashboard .digikala-sidebar-inner .panel-navigation ul {
    padding: 0 10px 0 0;
    margin: 0;
}

.woo-digikala-dashboard .digikala-sidebar-inner .panel-navigation ul li {
    list-style: none;
    margin: 15px 0px;
}

.woo-digikala-dashboard .digikala-sidebar-inner .panel-navigation ul li a {
    font-size: 14px;
    line-height: 22px;
    color: #424750;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 12px 40px 12px 0;
    font-weight: 400;
}

.woo-digikala-dashboard .digikala-sidebar-inner .panel-navigation ul li a:hover {
    color: #0fabc6;
}

.woo-digikala-dashboard .digikala-sidebar-inner .panel-navigation ul li:hover:before {
    color: #0fabc6;
}

.woo-digikala-dashboard .digikala-sidebar-inner .panel-navigation ul li.is-active:before {
    color: #0fabc6;
}

.woo-digikala-dashboard .digikala-sidebar-inner .panel-navigation ul li.is-active a {
    color: #0fabc6;
}

.woo-digikala-dashboard .digikala-sidebar-inner .panel-navigation ul .woocommerce-MyAccount-navigation-link--dashboard:before {
    font-family: "Font Awesome 5 Pro";
    content: "\f3fd";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-weight: 300;
    position: absolute;
    top: 14px;
    right: 0px;
    font-size: 20px;
    color: #424750;
}

.woo-digikala-dashboard .digikala-sidebar-inner .panel-navigation ul .woocommerce-MyAccount-navigation-link--orders:before {
    font-family: "Font Awesome 5 Pro";
    content: "\f46d";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-weight: 300;
    position: absolute;
    top: 13px;
    right: 1px;
    font-size: 23px;
    color: #424750;
}

.woo-digikala-dashboard .digikala-sidebar-inner .panel-navigation ul .woocommerce-MyAccount-navigation-link--downloads:before {
    font-family: "Font Awesome 5 Pro";
    content: "\f019";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-weight: 300;
    position: absolute;
    top: 12px;
    right: 0px;
    font-size: 23px;
    color: #424750;
}

.woo-digikala-dashboard .digikala-sidebar-inner .panel-navigation ul .woocommerce-MyAccount-navigation-link--notify:before {
    font-family: "Font Awesome 5 Pro";
    content: "\f0f3";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-weight: 300;
    position: absolute;
    top: 12px;
    right: 0px;
    font-size: 23px;
    color: #424750;
}

.woo-digikala-dashboard .digikala-sidebar-inner .panel-navigation ul .woocommerce-MyAccount-navigation-link--edit-address:before {
    font-family: "Font Awesome 5 Pro";
    content: "\f3c5";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-weight: 300;
    position: absolute;
    top: 13px;
    right: 1px;
    font-size: 23px;
    color: #424750;
}

.woo-digikala-dashboard .digikala-sidebar-inner .panel-navigation ul .woocommerce-MyAccount-navigation-link--edit-account:before {
    font-family: "Font Awesome 5 Pro";
    content: "\f2bd";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-weight: 300;
    position: absolute;
    top: 13px;
    right: 1px;
    font-size: 23px;
    color: #424750;
}

.woo-digikala-dashboard .digikala-sidebar-inner .panel-navigation ul .woocommerce-MyAccount-navigation-link--tickets:before {
    font-family: "Font Awesome 5 Pro";
    content: "\f3ff";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-weight: 300;
    position: absolute;
    top: 13px;
    right: 1px;
    font-size: 23px;
    color: #424750;
}

.woo-digikala-dashboard .digikala-sidebar-inner .panel-navigation ul .woocommerce-MyAccount-navigation-link--customer-logout:before {
    font-family: "Font Awesome 5 Pro";
    content: "\f08b";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-weight: 300;
    position: absolute;
    top: 13px;
    right: 1px;
    font-size: 23px;
    color: #424750;
}

.digikala-content-inner .woocommerce-orders-table.woocommerce-MyAccount-orders tbody tr {
    border: 1px solid #dfdfdf;
    border-radius: 8px;
    box-shadow: none !important;
}

.digikala-content-inner .woocommerce-orders-table.woocommerce-MyAccount-orders tbody tr .woocommerce-orders-table__cell-order-actions a {
    background: transparent;
    border: 1px solid #889098 !important;
}

.digikala-content-inner .woocommerce-orders-table.woocommerce-MyAccount-orders tbody tr .woocommerce-orders-table__cell-order-actions .button.cancel {
    margin-right: 10px;
}

.digikala-content-inner .woocommerce-orders-table.woocommerce-MyAccount-orders tbody tr td {
    border: none !important;
    line-height: inherit;
}

.digikala-content-inner .woocommerce-orders-table__row--status-completed {
    border: 1px solid #57cfb1 !important;
}

.digikala-content-inner .woocommerce-orders-table__row--status-completed .woocommerce-orders-table__cell-order-status {
    color: #57cfb1;
}

.digikala-content-inner .woocommerce-orders-table__row--status-completed:before {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    top: 13px;
    right: -13px;
    font-size: 17px;
    border-radius: 8px;
    color: #57cfb1;
    width: 35px;
    height: 35px;
    border: 1px solid #57cfb1;
    -webkit-box-shadow: 0 6px 12px 0 rgba(0, 211, 176, .2);
    box-shadow: 0 6px 12px 0 rgba(0, 211, 176, .2);
}

.digikala-content-inner .woocommerce-orders-table__row--status-processing {
    border: 1px solid #fdc364 !important;
}

.digikala-content-inner .woocommerce-orders-table__row--status-processing .woocommerce-orders-table__cell-order-status {
    color: #fdc364;
}

.digikala-content-inner .woocommerce-orders-table__row--status-processing:before {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    top: 13px;
    right: -13px;
    font-size: 17px;
    border-radius: 8px;
    color: #fdc364;
    width: 35px;
    height: 35px;
    border: 1px solid #fdc364;
    -webkit-box-shadow: 0 6px 12px 0 rgba(255, 193, 79, .2);
    box-shadow: 0 6px 12px 0 rgba(255, 193, 79, .2);
}

.digikala-content-inner .woocommerce-orders-table__row--status-on-hold {
    border: 1px solid #889098 !important;
}

.digikala-content-inner .woocommerce-orders-table__row--status-on-hold:before {
    position: absolute;
    content: "\f12a";
    font-family: "Font Awesome 5 Pro";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    top: 13px;
    right: -13px;
    font-size: 17px;
    border-radius: 8px;
    color: #889098;
    width: 35px;
    height: 35px;
    border: 1px solid #889098;
    -webkit-box-shadow: 0 6px 12px 0 hsla(210, 7%, 56%, .2);
    box-shadow: 0 6px 12px 0 hsla(210, 7%, 56%, .2);
    z-index: 10;
    -webkit-font-smoothing: antialiased;
    text-rendering: auto;
    line-height: 1;
    background-color: #ffffff;
}

.digikala-content-inner .woocommerce-orders-table__row--status-pending {
    border: 1px solid #889098 !important;
}

.digikala-content-inner .woocommerce-orders-table__row--status-pending:before {
    position: absolute;
    content: "\f53a";
    font-family: "Font Awesome 5 Pro";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    top: 13px;
    right: -13px;
    font-size: 17px;
    border-radius: 8px;
    color: #889098;
    width: 35px;
    height: 35px;
    border: 1px solid #889098;
    -webkit-box-shadow: 0 6px 12px 0 hsla(210, 7%, 56%, .2);
    box-shadow: 0 6px 12px 0 hsla(210, 7%, 56%, .2);
    z-index: 10;
    -webkit-font-smoothing: antialiased;
    text-rendering: auto;
    line-height: 1;
    background-color: #ffffff;
}

.digikala-content-inner .woocommerce-orders-table__row--status-cancelled {
    border: 1px solid #ef5661 !important;
}

.digikala-content-inner .woocommerce-orders-table__row--status-cancelled:before {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    top: 13px;
    right: -13px;
    font-size: 17px;
    border-radius: 8px;
    color: #ef5661;
    width: 35px;
    height: 35px;
    border: 1px solid #ef5661;
    -webkit-box-shadow: 0 6px 12px 0 rgba(255, 70, 92, .2);
    box-shadow: 0 6px 12px 0 rgba(255, 70, 92, .2);
}

.digikala-content-inner .woocommerce-orders-table__row--status-refunded {
    border: 1px solid #ef5661 !important;
}

.digikala-content-inner .woocommerce-orders-table__row--status-refunded .woocommerce-orders-table__cell-order-status {
    color: #ef5661;
}

.digikala-content-inner .woocommerce-orders-table__row--status-refunded:before {
    position: absolute;
    content: "\f788";
    font-family: "Font Awesome 5 Pro";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    top: 13px;
    right: -13px;
    font-size: 17px;
    border-radius: 8px;
    color: #ef5661;
    width: 35px;
    height: 35px;
    border: 1px solid #ef5661;
    -webkit-box-shadow: 0 6px 12px 0 rgba(255, 70, 92, .2);
    box-shadow: 0 6px 12px 0 rgba(255, 70, 92, .2);
    z-index: 10;
    -webkit-font-smoothing: antialiased;
    text-rendering: auto;
    line-height: 1;
    background-color: #ffffff;
}

.digikala-content-inner .woocommerce-orders-table__row--status-failed {
    border: 1px solid #889098 !important;
}

.digikala-content-inner .woocommerce-orders-table__row--status-failed .woocommerce-orders-table__cell-order-status {
    color: #889098;
}

.digikala-content-inner .woocommerce-orders-table__row--status-failed:before {
    position: absolute;
    content: "\f119";
    font-family: "Font Awesome 5 Pro";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    top: 13px;
    right: -13px;
    font-size: 17px;
    border-radius: 8px;
    color: #889098;
    width: 35px;
    height: 35px;
    border: 1px solid #889098;
    -webkit-box-shadow: 0 6px 12px 0 hsla(210, 7%, 56%, .2);
    box-shadow: 0 6px 12px 0 hsla(210, 7%, 56%, .2);
    z-index: 10;
    -webkit-font-smoothing: antialiased;
    text-rendering: auto;
    line-height: 1;
    background-color: #ffffff;
}

.digikala-content-inner .dl-list li a .tt-name-course {
    border: 1px solid #dfdfdf;
    box-shadow: none;
}

.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
    border: 1px solid #BBB;
    border-radius: 7px;
}

.digikala-content-inner .addresses .woocommerce-Address .woocommerce-Address-title h3 {
    font-size: 18px !important;
    color: #535353 !important;
}

.btn-edit-digikala {
    background-color: #00bfd6 !important;
    border-color: #00bfd6 !important;
    color: #fff !important;
    font-size: 15px;
    padding: 10px 15px 12px;
    outline: none !important;
    box-shadow: none !important;
}

.digikala-content-inner p .button {
    background-color: #00bfd6 !important;
    border-color: #00bfd6 !important;
    color: #fff !important;
    font-size: 15px !important;
    padding: 10px 15px 12px !important;
    outline: none !important;
    box-shadow: none !important;
}

.digikala-content-inner .woocommerce-input-wrapper {
    width: 100%;
}

.digikala-info-user-profile {
    display: flex;
    position: relative;
    padding: 12px;
    line-height: initial;
}

.digikala-info-user-profile:after {
    content: "";
    width: calc(100% - 32px);
    height: 1px;
    background: #f0f0f1;
    position: absolute;
    left: 16px;
    bottom: -1px;
}

.digikala-info-user-profile .profile-avatar {
    width: 32px;
    height: 32px;
    border: 1px solid #424750;
    border-radius: 50%;
    background: #fff;
    background-size: contain;
    overflow: hidden;
    display: inline-block;
    margin-left: 10px;
}

.digikala-info-user-profile .profile-avatar img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.digikala-info-user-profile .digikala-user-name-profile .name-user-profile {
    position: relative;
    top: -5px;
    font-size: 14px;
    font-weight: 700;
    color: #515151;
}

.digikala-info-user-profile .digikala-user-name-profile .digikala-link-profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #19bfd3;
    font-size: 11px;
    font-weight: 400;
    line-height: 2.2;
}

.digikala-info-user-profile .digikala-user-name-profile .digikala-link-profile a {
    color: #19bfd3;
}

.digikala-info-user-profile .digikala-user-name-profile .digikala-link-profile:after {
    font-family: "Font Awesome 5 Pro";
    content: "\f053";
    line-height: 1.222;
    margin-right: 5px;
    font-size: 9px;
    margin-top: 2px;
}

.digikala-dropdown-menu {
    padding-top: 1px;
    padding-bottom: 0;
    -webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .3);
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .3);
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    border: none;
    z-index: 20;
}

.digikala-dropdown-menu ul {
    padding: 0;
    margin: 0;
}

.digikala-dropdown-menu ul li {
    list-style: none;
}

.digikala-dropdown-menu ul li a {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 12px !important;
    padding: 10px 20px;
    cursor: pointer;
    color: #424750;
    font-weight: 400;
    line-height: normal;
}

.digikala-dropdown-menu ul li a:hover {
    background: #f0f0f1;
}

.digikala-dropdown-menu-icon:before {
    font-family: "Font Awesome 5 Pro";
    content: "\f007";
    font-size: 15px;
    margin-left: 11px;
}

.digikala-dropdown-menu ul li a:after {
    content: "";
    width: calc(100% - 32px);
    height: 1px;
    background: #f0f0f1;
    position: absolute;
    left: 16px;
    bottom: -1px;
}

.digikala-dropdown-menu ul li:last-child a:after {
    content: none;
}

.digikala-dropdown-menu ul li:last-child a {
    padding-bottom: 12.5px;
}

.digikala-dropdown-menu ul li .log-out:before {
    font-family: "Font Awesome 5 Pro";
    content: "\f08b";
    font-size: 15px;
    margin-left: 11px;
}

.digikala-dropdown-menu ul li .digikala-orders:before {
    font-family: "Font Awesome 5 Pro";
    content: "\f46d";
    font-size: 15px;
    margin-left: 11px;
}

.digikala-dropdown-menu ul li .digikala-download:before {
    font-family: "Font Awesome 5 Pro";
    content: "\f019";
    font-size: 15px;
    margin-left: 11px;
}

.c-product-stock-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #969696;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.c-product-stock-title:before {
    content: "";
    margin: auto 0px auto 11px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 1px;
    background: #969696;
}

.c-product-stock-title:after {
    content: "";
    margin: auto 11px auto 0px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 1px;
    background: #969696;
}

.c-product-stock-body {
    color: #4a4a4a;
    font-size: 12.6px;
    font-weight: 400;
    margin-bottom: 5px;
}

.v-name-seller {
    position: relative;
    padding: 0 45px 14px 14px;
}

.v-name-seller:before {
    font-family: "Font Awesome 5 Pro";
    content: "\f54e";
    color: #9b9b9b;
    position: absolute;
    right: 14px;
}

.v-name-seller:after {
    content: "";
    position: absolute;
    left: 1rem;
    right: 1rem;
    bottom: -1px;
    border-bottom: 1px solid #e4e4e4;
}

.v-name-seller b {
    font-size: 14px;
    font-weight: 400;
}

.v-name-seller a {
    font-size: 14px;
    font-weight: 700;
    color: #000;
}

.v-name-seller p {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    color: #000;
    margin: 0;
}

.v-guarantee-product {
    position: relative;
    padding: 14px 45px 14px 14px;
    font-size: 14px;
    font-weight: 400;
}

.v-guarantee-product:before {
    font-family: "Font Awesome 5 Pro";
    content: "\f2f7";
    color: #9b9b9b;
    position: absolute;
    top: 10px;
    right: 14.5px;
    font-size: 18px;
    font-weight: 300;
}

.v-guarantee-product:after {
    content: "";
    position: absolute;
    left: 1rem;
    right: 1rem;
    bottom: -1px;
    border-bottom: 1px solid #e4e4e4;
}

.physical-stock-product {
    position: relative;
    padding: 14px 45px 14px 14px;
    font-size: 14px;
    font-weight: 400;
}

.physical-stock-product:before {
    font-family: "Font Awesome 5 Pro";
    content: "\f495";
    color: #0fabc6;
    position: absolute;
    top: 10.5px;
    right: 14.5px;
    font-size: 16px;
    font-weight: 300;
}

.physical-stock-product:after {
    content: "";
    position: absolute;
    left: 1rem;
    right: 1rem;
    bottom: -1px;
    border-bottom: 1px solid #e4e4e4;
}
@media (max-width: 1024px) {
    .btn-login-digikala {
        padding-left: 0 !important;
    }

    .btn-login-digikala i {
        display: block !important;
    }

    .btn-login-digikala span {
        display: none;
    }

    .digikala-mini-cart .cart-items {
        top: 47px !important;
    }

    .dropdown .digikala-btn-profile {
        padding-left: 0 !important;
    }
}

@media (max-width: 992px) {
    .container-digikala > div > .digikala-holder-bg-section {
        flex: unset;
        max-width: 100%;
        padding: 0;
    }
}

@media (max-width: 768px) {
    .digikala-gallery .woocommerce-product-gallery div .woocommerce-product-gallery__wrapper div a img {
        width: 30% !important;
    }

    .digikala-gallery {
        height: auto;
    }

    .digikala-gallery .woocommerce-product-gallery ol li {
        width: 10% !important;
    }

    .venus-single-pro .left-product .content-pro .c-product-params ul li:before {
        content: none;
    }
}

@media (max-width: 576px) {
    .digikala-breadcrumbs .woocommerce-breadcrumb a {
        font-size: 13px !important;
    }

    .digikala-breadcrumbs .woocommerce .woocommerce-breadcrumb {
        font-size: 13px;
    }

    .venus-single-pro .left-product .title-pro {
        font-size: 13px;
        padding-right: 10px;
    }

    .venus-single-pro .left-product .title-pro .title-en {
        padding-right: 10px;
        font-size: 10px;
    }

    .c-cart-price .c-inner-cart-price .cart .single_add_to_cart_button {
        padding: 5px 0 6px 0 !important;
        font-size: 15px !important;
        margin-top: 0 !important;
        margin-bottom: 2px !important;
    }

    .c-cart-price .c-inner-cart-price {
        margin-top: 16px;
    }
}
