@font-face {
    font-family: venus-fs;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/yekan/eot/iranyekanwebbold(fanum).eot');
    src: url('../fonts/yekan/eot/iranyekanwebbold(fanum).eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../fonts/yekan/woff2/iranyekanwebbold(fanum).woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../fonts/yekan/woff/iranyekanwebbold(fanum).woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/yekan/ttf/iranyekanwebbold(fanum).ttf') format('truetype');
}

@font-face {
    font-family: venus-fs;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/yekan/eot/iranyekanweblight(fanum).eot');
    src: url('../fonts/yekan/eot/iranyekanweblight(fanum).eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../fonts/yekan/woff2/iranyekanweblight(fanum).woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../fonts/yekan/woff/iranyekanweblight(fanum).woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/yekan/ttf/iranyekanweblight(fanum).ttf') format('truetype');
}

@font-face {
    font-family: venus-fs;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/yekan/eot/iranyekanwebregular(fanum).eot');
    src: url('../fonts/yekan/eot/iranyekanwebregular(fanum).eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../fonts/yekan/woff2/iranyekanwebregular(fanum).woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../fonts/yekan/woff/iranyekanwebregular(fanum).woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/yekan/ttf/iranyekanwebregular(fanum).ttf') format('truetype');
}

.select2-dropdown, .select2-selection__rendered {
    font-family: 'venus-fs', 'Roboto', tahoma, sans-serif !important
}

.elementor *, .elementor-panel, .elementor-button, #elementor-panel-elements-search-input, .elementor-add-section-drag-title, .elementor-control-type-text input, .elementor-control-type-wysiwyg #insert-media-button {
    font-family: 'venus-fs', Arial, tahoma !important;
    font-size: 13px !important
}

.elementor-control-type-switcher.elementor-label-inline > .elementor-control-content .elementor-control-field .elementor-control-title {
    width: 70%
}

.elementor-control-type-switcher.elementor-label-inline > .elementor-control-content .elementor-control-field .elementor-control-input-wrapper {
    width: 30%
}

.elementor-label-inline > .elementor-control-content > .elementor-control-field > .elementor-control-input-wrapper {
    width: 55%;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    margin-right: auto
}

.elementor-widget:not(:last-child) {
    margin: 0px;
}

#elementor-panel-category-Venus-Header .elementor-panel-category-items .elementor-element-wrapper .elementor-element:before,
#elementor-panel-category-venus .elementor-panel-category-items .elementor-element-wrapper .elementor-element:before {
    content: 'Venus';
    position: relative;
    background-color: #43C67A;
    color: #ffffff;
    border-radius: 8px;
    padding: 3px 10px;
    font-size: 10px;
    margin-top: 8px;
    display: inline-block;
    font-weight: 400;
}

#elementor-panel-category-Digikala-Header .elementor-panel-category-items .elementor-element-wrapper .elementor-element:before,
#elementor-panel-category-digikala .elementor-panel-category-items .elementor-element-wrapper .elementor-element:before,
#elementor-panel-category-Digikala-Footer .elementor-panel-category-items .elementor-element-wrapper .elementor-element:before {
    content: 'Digikala';
    position: relative;
    background-color: #ef394e;
    color: #ffffff;
    border-radius: 8px;
    padding: 3px 10px;
    font-size: 10px;
    margin-top: 8px;
    display: inline-block;
    font-weight: 400;
}

