/*
Theme Name: قالب ونوس
Theme URI: http://bigersoft.com
Author: بیگرسافت
Author URI: https://bigersoft.com
Description: ونوس یک محصول کاملا ایرانی ، با استاندارد های جهانی است !
Version: 2.7
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: بیگرسافت , امیرمحمدمیرلوحی
Text Domain: Venus
*/
/* Import Fonts & All CSS */
@import url(bootstrap.min.css);
@import url(all.css);

html {
    display: flex;
    height: 100vh;
    background: url(../images/error-page.jpg) no-repeat;
    background-size: cover;
}

body {
    direction: rtl !important;
    font-family: venus-fs, roboto, Arial !important;
    font-weight: 300;
    line-height: 2;
    text-rendering: optimizeLegibility;
    overflow-x: hidden !important;
}

html #error-page .wp-die-text {
    line-height: 40px;
    font-weight: 700;
    font-size: 15px;
    text-align: justify;
    color: #fff;
}

#error-page {
    position: relative;
    margin: auto;
    background: transparent;
    max-width: 855px;
    height: 400px;
}

#error-page:before {
    content: '';
    background-color: #383d41;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.7;
    border-radius: 50px;
}

.error-btn-venus {
    background: #FFC425;
    color: #2F3041 !important;
    padding: 10px 0 15px;
    border-radius: 8px;
    display: block;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none !important;
    box-shadow: none !important;
}
