.course-tabs .learn-press-nav-tabs {
    display: flex;
    justify-content: space-between;
}

.course-tabs .learn-press-nav-tabs .course-nav {
    display: block;
    width: 100%;
    float: none;
    text-align: center;
}

.course-tabs .learn-press-nav-tabs .course-nav a {
    display: block;
}

.course-tab-panel-instructor .course-author .author-wrapper {
    display: flex;
    border: 1px solid #eee;
    border-radius: 5px;
    margin-top: 25px;
    padding: 15px 20px 13px;
}

.course-tab-panel-instructor .course-author .author-name {
    float: none;
    margin: auto 0 auto 35px !important;
}

.course-tab-panel-instructor .course-author .author-name a {
    color: #616161 !important;
    font-weight: 400;
    margin-top: 5px;
}

.course-tab-panel-instructor .course-author .author-bio {
    line-height: initial;
    height: fit-content;
    margin: auto 0;
    font-style: normal !important;
    font-weight: 400;
}

.course-tab-panel-curriculum .course-curriculum .curriculum-scrollable .curriculum-sections {

}

.course-tab-panel-curriculum .course-curriculum .curriculum-scrollable .curriculum-sections li {

}

.course-tab-panel-curriculum .course-curriculum .curriculum-scrollable .curriculum-sections li .section-header {
    border-bottom: 1px solid #f8c44fb5;
    padding: 10px 0 2px;
}

.course-tab-panel-curriculum .course-curriculum .curriculum-scrollable .curriculum-sections li .section-header .section-left .section-title {
    display: block;
    font-size: 16px;
    color: #333;
    font-weight: 700;
}

.course-tab-panel-curriculum .course-curriculum .curriculum-scrollable .curriculum-sections li .section-header .section-left .section-title:before {
    width: 30px;
    float: right;
    margin-top: unset;
    margin-right: unset;
    font-family: "Font Awesome 5 Pro";
    content: "\f053";
    font-weight: 900;
    color: #F8C44F;
    height: auto;
    background-color: transparent;
}

.course-tab-panel-curriculum .course-curriculum .curriculum-scrollable .curriculum-sections li .section-header .section-left .section-desc {
    font-style: normal;
}

.course-tab-panel-curriculum .course-curriculum .curriculum-scrollable .curriculum-sections .section .section-content .course-item {
    padding: 10px 0;
}

.course-curriculum ul.curriculum-sections .section-content .course-item .course-item-meta {
    text-align: left !important;
}

.course-curriculum ul.curriculum-sections .section-content .course-item .course-item-meta .item-meta {
    height: auto !important;
    padding: 5px 15px 8px !important;
    line-height: normal !important;
}

.course-curriculum ul.curriculum-sections .section-content .course-item .section-item-link:before {
    padding: 15px 0 0 0 !important;
    color: #F8C44F;
}

.course-curriculum ul.curriculum-sections .section-content .course-item .item-icon, .course-curriculum ul.curriculum-sections .section-content .course-item .item-name {
    color: #333;
    font-weight: 900;
}

.course-curriculum ul.curriculum-sections .section-content .course-item.item-preview .course-item-status {
    background: transparent !important;
    border: 1px solid #00adff !important;
    font-weight: 400;
    transition: 0.3s all;
}

.course-curriculum ul.curriculum-sections .section-content .course-item.item-preview .course-item-status:hover {
    background: #00adff !important;
}

.course-curriculum ul.curriculum-sections .section-content .course-item.item-preview .course-item-status:hover:before {
    color: #fff !important;
}

.course-curriculum ul.curriculum-sections .section-content .course-item.item-preview .course-item-status:before {
    color: #00adff !important;
    font-weight: 400 !important;
}

.course-curriculum ul.curriculum-sections .section-content .course-item .course-item-meta .duration {
    background: transparent !important;
    border: 1px solid #009688;
    color: #009688 !important;
    font-weight: 400;
    transition: 0.3s all;
}

.course-curriculum ul.curriculum-sections .section-content .course-item .course-item-meta .duration:hover {
    background: #009688 !important;
    color: #fff !important;
}


.course-curriculum ul.curriculum-sections .section-content .course-item .course-item-meta .count-questions {
    background: transparent !important;
    border: 1px solid #dd88ae;
    color: #dd88ae !important;
    font-weight: 400;
    transition: 0.3s all;
}

.course-curriculum ul.curriculum-sections .section-content .course-item .course-item-meta .count-questions:hover {
    background: #dd88ae !important;
    color: #fff !important;
}

#course-item-content-header {
    background: #ffb606 !important;
}

#course-item-content-header .course-item-search {
    border-right: 1px solid #eee;
}

#course-item-content-header .course-item-search button {
    right: unset !important;
    left: 50px;
    font-size: 18px !important;
    outline: none !important;
    box-shadow: none !important;
}

#course-item-content-header .course-item-search input {
    padding-right: 15px !important;
    font-style: normal !important;
}

.course-curriculum ul.curriculum-sections .section-header .section-title:before {
    width: 30px;
    float: right;
    margin-top: unset;
    margin-right: unset;
    font-family: "Font Awesome 5 Pro";
    content: "\f053";
    font-weight: 900;
    color: #F8C44F;
    height: auto;
    background-color: transparent;
}

.course-curriculum ul.curriculum-sections .section-header .section-desc {
    font-style: normal !important;
}

body.course-item-popup #learn-press-course-curriculum .section-header .section-desc {
    margin: 5px 0 9px 0 !important;
    font-size: 12px;
}

.course-curriculum ul.curriculum-sections .section-content .course-item:before {
    background: #ffb606 !important;
    width: 5px !important;
}

#course-item-content-header .form-button.lp-button-back button {
    background: transparent;
    border: 2px solid #333;
    border-radius: 4px;
    color: #333;
    font-weight: 900;
    padding: 0 15px;
}

#course-item-content-header .course-title a {
    font-size: 20px;
    font-weight: 900;
    color: #333;
}

body.course-item-popup #learn-press-course-curriculum .section-header {
    border-bottom: 1px solid #f8c44fb5;
}

#course-item-content-header .toggle-content-item {
    color: #333;
}

.course-curriculum ul.curriculum-sections .section-content .course-item .course-item-meta .item-meta.trans {
    font-family: "Font Awesome 5 Pro";
}

body.course-item-popup #learn-press-content-item .course-item-title {
    line-height: inherit;
}

.learnpress-page .lp-button {

}
