/*Start Header*/
@media (min-width: 1200px) {
    .ve-menu-icon {
        display: none;
    }
}

@media (max-width: 1199px) {
    .hwp-mini-cart-area {
        background: #ebebeb;
        height: 46px;
        width: 46px;
        border-radius: 5px;
        padding: 10px;
    }

    .hwp-mini-cart-area i {
        font-size: 23px;
        line-height: 17px;
    }

    .hwp-mini-cart-area .count-number-cart .number {
        width: 13px;
        height: 13px;
        line-height: 13px;
        right: 3.5px;
        top: -1px;
    }

    .blog-posts-bg {
        display: none;
    }

    .lms-top-header .header-bg p {
        left: 0;
    }

    .style-form .advice .advice-content .form-box .form-contact input[type="text"], input[type="tel"], input[type="email"], input[type="text"], textarea, .style-form .advice .advice-content .form-box .form-contact input[type="submit"] {
        width: 100% !important;
    }
}

@media (max-width: 991px) {
    .logo img {
        max-width: 119px !important;
    }
}

@media (max-width: 767px) {
    .lms-top-header .header-bg {
        width: 41.66666667%;
    }

    .lms-top-header .header-bg p {
        display: none;
    }

    .lms-top-header .header-bg p strong {
        font-size: 21px;
    }

    .article-excerpt {
        padding: 10px 0;
    }

    .article-content {
        padding: 10px 0;
    }

    .article-content figure {
        width: 100%;
    }

    .article-content blockquote {
        width: 90%;
    }

    .login-user {
        padding-right: 5px;
        padding-left: 5px;
    }

    .course-content #course-faq .panel-group {
        padding-left: 0;
    }

    .swal2-popup .swal2-title {
        font-size: 20px !important;
        letter-spacing: -.4px;
    }
}

@media (max-width: 481px) {
    .header-bg {
        display: none;
    }

    .lms-top-header-venus {
        display: none;
    }

    .header-detail {
        padding-top: 70px !important;
        text-align: center;
    }

    .lms-top-header .header-detail p .text3 {
        font-size: 25px;
    }

    .state .state-text .meteor2 {
        display: none;
    }

    /*.rwd-menu {*/
    /*    left: 30px !important;*/
    /*    top: 14px !important;*/
    /*}*/
    .rwd-menu:before, .rwd-menu:after {
        background: #484848 !important;
    }

    /* Start Advice */
    .style-form .advice .advice-content .form-box .form-contact input[type="submit"],
    .style-form .advice .advice-content .form-box .form-contact input[type="text"], input[type="tel"], input[type="email"], input[type="text"], input[type="submit"], textarea {
        width: 100%;
    }

    .wpcf7-form p label {
        width: 100%;
    }

    .animated-counter .counter-text .counter-number {
        font-size: 35px;
    }

    .animated-counter .counter-text .counter-label {
        font-size: 15px;
    }


}

/*End Header*/
/* Start state */
@media (max-width: 1199px) {
    .state .state-numbers ul li {
        padding: 0 15px;
        text-align: center;
    }

    .state .state-numbers ul li [class^="icon-"] {
        display: none;
    }

    .state .state-text p {
        padding-right: 130px;
    }

    .rwd-menu {
        display: block;
    }

    .navigation {
        display: none;
    }

    .register-header {
        display: none;
    }

    .main-home-page .related-posts .rpost {
        width: 50%;
    }
}

@media (max-width: 991px) {

    #scrollTop {
        right: 20px;
        bottom: 110px;
    }

    .state .state-text p {
        padding-right: 0;
        text-align: center !important;
    }
}

@media (max-width: 600px) {
    .state .state-numbers .state-numbers-inner ul li [class^="icon-"] {
        float: none;
        margin: 0 auto;
        display: table;
        padding: 0;
    }

    .state .state-numbers .state-numbers-inner ul li [class^="icon-"] i {
        float: none;
        margin: 0 auto;
        display: table;
        padding: 25px 0 !important;
    }

    .state .state-numbers .state-numbers-inner ul li [class^="icon-"] img {
        width: 61px !important;
        padding: 26px 0;
    }

    .state .state-numbers .state-numbers-inner ul li .num {
        text-align: center;
        padding-top: 0;
    }

    .state .state-numbers .state-numbers-inner ul li.students {
        height: 200px;
    }

    .state .state-numbers .state-numbers-inner ul li {
        height: 180px;
    }

    .state .state-numbers .state-numbers-inner {
        min-height: 380px;
    }

    .iron-willed-shortcode-container .item .header-content {
        text-align: justify;
        font-size: 14px;
        height: 210px;
    }

    .iron-willed-shortcode-container .item .footer-content .iron-willed-user-img {
        display: none !important;
    }

    .iron-willed-shortcode-container .item .footer-content .iron-willed-name p {
        margin-top: 27px;
        font-size: 16px;
    }
}

/* End state */
/* Start Blog */
@media (max-width: 991px) {
    .blog-posts .row > div.first-post a .blog-posts-inner {
        position: absolute;
        z-index: 2;
        right: 25px;
        bottom: 40px;
        width: calc(100% - 50px);
        background: transparent;
        color: #FFF;
        box-shadow: none;
        padding: 0;
    }

    .blog-posts .row > div.another-posts a:first-of-type {
        float: right;
        width: calc(50% - 10px);
    }

    .blog-posts .row > div.first-post a {
        width: 100%;
        margin-bottom: 25px;
    }

    .blog-posts .row > div.another-posts a:last-of-type {
        float: left;
        width: calc(50% - 10px);
    }

    .blog-posts .row > div.first-post a .blog-posts-inner h2 {
        color: #fff;
    }

    .blog-posts .row > div.first-post a .blog-posts-inner .category {
        background: rgba(51, 154, 217, 0.7);
        border-radius: 5px;
        display: inline-block;
        padding: 2px 9px;
        color: #FFF;
        font-weight: 200;
        font-size: 11px;
        margin-bottom: 5px;
        transition: all .5s ease;
    }

    .blog-posts .row > div.first-post a .blog-posts-inner .category ul li {
        color: #fff;
    }

    .blog-posts .row > div.first-post a .blog-posts-inner .category ul li:before {
        content: none;
    }

    .related-posts .rpost {
        width: 100% !important;
        float: none;
    }

    .blog-data {
        -webkit-box-flex: unset !important;
        -ms-flex: unset !important;
        flex: unset !important;
        max-width: unset !important;
    }

    .image-404 img {
        width: 100%;
    }

    .notfound-search {
        width: 100% !important;
    }

    .container .has-sidebar .archive-shop-sidebar {
        flex: unset;
        max-width: 100%
    }
}

@media (max-width: 768px) {
    .title-blog {
        display: block !important;
    }

    .title-blog .article-title {
        padding-left: 0px !important;
        text-align: center !important;
    }

    .article-excerpt p {
        margin: 0px !important;
    }

    .title-blog:after {
        top: 115px;
    }

    .courses .course .ve-landing-prosuct-course-inner {
        margin-bottom: 0;
    }
}

@media (max-width: 525px) {
    .blog-posts .row > div.another-posts a:first-of-type, .blog-posts .row > div.another-posts a:last-of-type {
        width: 100%;
        margin-bottom: 20px;
    }
}

/* End Blog */
/* Start Footer */
@media (max-width: 1200px) {
    .logo-footer {
        margin: 20px 0;
    }

    .nemad {
        margin-top: 99px;
    }

    .footer-back:before {
        -webkit-mask-box-image: unset;
        height: 100%;
    }

    .bgr:before {
        content: none;
    }

    .n-logo {
        position: absolute;
        left: 0;
        text-align: left;
    }

    .logo-footer img {
        margin-right: 0px !important;
    }

    .social-down {
        padding: 0;
    }

    .footer-back::before {
        mask-image: none;
    }
}

@media (max-width: 905px) {
    .main-footer {
        text-align: center;
    }

    .n-logo {
        display: none;
    }

    .social-down li {
        margin-right: 5px;
    }

    .menu-footer:before {
        left: 0;
        width: 100%;
    }

    .footer-social-images {
        justify-content: center;
    }

    .nemad-footer {
        display: block !important;
    }
}

/* End Footer */
@media (max-width: 576px) {
    .ve-main-product-dashboard {
        background-color: #ffffff;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.03);
        padding: 10px !important;
        border-radius: 5px;
    }

    .ve-main-product-dashboard .ve-download-product-dashboard {
        position: relative;
        z-index: 1;
        display: block;
        width: 100% !important;
        height: 150px !important;
        /*background-size: contain !important;*/
    }

    .ve-main-product-dashboard .tt-name-course {
        display: block;
        font-size: 15px !important;
        margin-top: 15px;
        padding: 15px 19px !important;
        box-shadow: none !important;
    }

    .ve-main-product-dashboard .tt-name-course .notify-date {
        position: absolute;
        top: -17px;
        left: 8px;
        background: #eee;
        padding: 5px 12px 3px;
        border-radius: 0px 0px 10px 10px;
        font-size: 12px;
        font-weight: 400;
        z-index: 0;
        float: none !important;
    }
}

/*Start menu*/
@media (max-width: 1199px) {
    .sidr ul li:hover a {
        box-shadow: none !important;
        background: transparent !important;
    }

    .sidr ul li ul {
        position: relative !important;
        background: #eee !important;
        box-shadow: none !important;
        top: 0;
        border-radius: 0;
        transition: all 0.3s;
    }

    .sidr ul li ul li a {
        padding-right: 30px;
    }

    .sidr ul li a {
        position: relative;
        display: inline-block;
    }

    .sidr ul li ul li ul {
        right: 0 !important;
    }
}

/*End Menu*/

/* Start Single Product */
@media (max-width: 1199px) {
    .course-content #course-lessons {
        padding: 0 15px 50px 15px;
    }

    .course-content #course-lessons:after {
        content: none;
    }

    .product-title {
        width: 100%;
    }

    .btn-preview-lesson {
        padding: 6px 10px 4px 10px;
    }

    .btn-preview-lesson {
        display: inline;
    }

    .btn-preview-lesson span {
        display: none;
    }

    .btn-private-lesson span {
        display: none;
    }
}

@media (max-width: 575px) {
    .course-content #course-teachers .avatar img {
        width: 65%;
        max-height: 100%;
        margin: 0 auto 20px auto;
        display: block;
    }

    .course-content #course-teachers .teacher-name {
        text-align: center;
    }

    .course-content #course-teachers .teacher-info {
        float: none;
        text-align: center;
    }

    .coupon-venus input {
        display: block !important;
        width: 100% !important;
        float: none !important;
        margin: 10px auto !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        line-height: unset !important;
    }

    .coupon-venus button {
        width: 100% !important;
        margin: 10px auto !important;
        float: none !important;
        font-size: 16px !important;
        top: auto;
    }

    .update-venus-btn {
        padding: 15px 0 !important;
    }

    .course-content #course-lessons .card .card-body {
        margin: 15px 0;
    }

    .course-content #course-lessons .card .detail-list {
        margin-right: 0;
    }

    .box-comment .comment-list li ul {
        margin: 25px 10px 0 0;
        padding: 0;
    }

    .comment-form-rating label {
        font-size: 14px;
        font-weight: 400;
    }

    .comment-reply-title {
        font-size: 15px;
        font-weight: 400;
        display: flex;
        justify-content: space-between;
    }
}

/* End Single Product */
@media (max-width: 600px) {
    .upanel-content-inner {
        padding: 10px !important;
    }
}

@media (max-width: 355px) {
    .coupon-venus input {
        width: 100% !important;
        margin-bottom: 10px !important;
    }

    .coupon-venus button {
        width: 100% !important;
        margin-bottom: 5px !important;
    }
}

/* Start Dashboard */
@media (max-width: 991px) {
    .status-user-widget ul li .key_wrapper {
        display: flex;
    }

    .status-user-widget ul li .key_wrapper .icon {
        display: inline-block !important;
        width: auto !important;
        margin-left: 20px;
    }

    .status-user-widget ul li .key_wrapper .icon i {
        top: unset !important;
        right: unset !important;
        margin: auto !important;
    }

    .status-user-widget ul li .key_wrapper .wc-amount {
        margin: auto;
    }

    .status-user-widget ul li .key_wrapper .title {
        margin: auto;
    }

    .status-user-widget ul li {
        margin-bottom: 10px;
    }

    .woocommerce-account .ve-res-dashboard {
        overflow: hidden;
    }

    .woocommerce-account .ve-res-dashboard .upanel-content-inner {
        padding: 15px;
    }

    .upanel-content-inner .status-user-widget ul li .key_wrapper .icon i {
        right: 10px !important;
    }

    .status-user-widget ul li .key_wrapper a {
        display: block;
        width: 100%;
    }

    .my-account-section-title {
        display: flex;
    }

    .upanel-sidebar-inner .panel-navigation {
        transition: all .5s ease;
        margin-top: 20px;
        /*display: none;*/
        height: 0;
        opacity: 0;
        z-index: -1;
    }

    .woocommerce-MyAccount-navigation .upanel-sidebar-inner .panel-navigation ul li.is-active a {
        /*padding: 0;*/
    }

    .panel-navigation:not(.show) {
        display: none;
    }

    .digikala-panel-content .digikala-content-inner {
        margin-top: 20px;
    }

    .dl_order .ve-table-download {
        display: none;
    }

    .sub_items .dl_order table tbody tr td {
        border: none !important;
    }

    .woocommerce-MyAccount-navigation .user-info {
        display: flex;
    }

    .woo-digikala-dashboard .digikala-sidebar-inner .digikala-info-user .digikala-user-name {
        height: auto !important;
    }

    .woo-digikala-dashboard .digikala-sidebar-inner .digikala-info-user .digikala-user-name .phone-user {
        display: none;
    }

    .woocommerce-MyAccount-navigation .user-info .avatar {
        width: 65px;
        height: 65px;
        margin: auto 0;
    }

    .woocommerce-MyAccount-navigation .upanel-sidebar-inner .user-name {
        margin: auto 22px auto 0;
    }

    .woocommerce-account .woocommerce-MyAccount-navigation .upanel-sidebar-inner {
        padding-top: 0;
    }

    .woocommerce-MyAccount-navigation .upanel-sidebar-inner .panel-navigation ul li a:before {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .woocommerce-info .showcoupon {
        display: block;
        margin: 0;
    }
}

/* End Dashboard */
/* Start Footer */
@media (max-width: 576px) {
    .footer-social-icon {
        margin-bottom: 20px;
    }

    .footer-social {
        margin-bottom: 20px !important;
    }

}

/* End Footer */
/*Start Landing*/
@media (max-width: 768px) {
    .ve-thumb-landing-product {
        height: 220px !important;
    }

    .course .course-detail .course-top-content .ve-landing-product-title h2 {
        font-size: 25px;
    }
}

@media (max-width: 576px) {
    .course .course-inner .ve-landing-product-course-detail {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }

    .ve-landing-product-bottom .ve-inner-product-bottm {
        text-align: center;
    }

    .ve-landing-product-bottom .ve-inner-product-bottm .ve-right-text-price {
        margin-bottom: 20px;
    }

    .ve-landing-product-bottom .ve-inner-product-bottm .ve-landing-add-cart-style-two {
        width: 100%;
    }

    .ve-landing-add-cart-style-two {
        display: block;
        border-radius: 20px;
    }

    .ve-landing-add-cart-style-two .ve-landing-text-btn-reg {
        width: 100%;
        border-radius: 20px;
    }

    .ve-landing-product-bottom .ve-inner-product-bottm > div {
        float: none !important;
    }
}