﻿/**
*
*	Name:			IRANSansDN Font
*	Version:		1.0
*	Author:			Moslem Ebrahimi (moslemebrahimi.com)
*	Created on:		Dec 20, 2017
*	Updated on:		Dec 20, 2017
*	Website:		http://fontiran.com
*	Copyright:		Commercial/Proprietary Software
--------------------------------------------------------------------------------------
فونت ایران سنس دست نویس یک نرم افزار مالکیتی محسوب می شود. جهت آگاهی از قوانین استفاده از این فونت ها لطفا به وب سایت (فونت ایران دات کام) مراجعه نمایید
--------------------------------------------------------------------------------------
IRANSansDN fonts are considered a proprietary software. To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com 
--------------------------------------------------------------------------------------
This set of fonts are used in this project under the license: (.....)
--------------------------------------------------------------------------------------
*	
**/
@font-face {
	font-family: venus-fs;
	font-style: normal;
	font-weight: bold;
	src: url('../../fonts/dnsans/eot/iransansdnwebbold.eot');
	src: url('../../fonts/dnsans/eot/iransansdnwebbold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../../fonts/dnsans/woff2/iransansdnwebbold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../../fonts/dnsans/woff/iransansdnwebbold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../../fonts/dnsans/ttf/iransansdnwebbold.ttf') format('truetype');
}

@font-face {
	font-family: venus-fs;
	font-style: normal;
	font-weight: 300;
	src: url('../../fonts/dnsans/eot/iransansdnweblight.eot');
	src: url('../../fonts/dnsans/eot/iransansdnweblight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../../fonts/dnsans/woff2/iransansdnweblight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../../fonts/dnsans/woff/iransansdnweblight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../../fonts/dnsans/ttf/iransansdnweblight.ttf') format('truetype');
}

@font-face {
	font-family: venus-fs;
	font-style: normal;
	font-weight: normal;
	src: url('../../fonts/dnsans/eot/iransansdnweb.eot');
	src: url('../../fonts/dnsans/eot/iransansdnweb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../../fonts/dnsans/woff2/iransansdnweb.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../../fonts/dnsans/woff/iransansdnweb.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
