﻿/**
*
*	Name:			IRANYekan Font
*	Version:		1.3
*	Author:			Moslem Ebrahimi (moslemebrahimi.com)
*	Created on:		Dec 20, 2016
*	Updated on:		Dec 28, 2016
*	Website:		http://fontiran.com
*	Copyright:		Commercial/Proprietary Software
--------------------------------------------------------------------------------------
فونت ایران یکان یک نرم افزار مالکیتی محسوب می شود. جهت آگاهی از قوانین استفاده از این فونت ها لطفا به وب سایت (فونت ایران دات کام) مراجعه نمایید
--------------------------------------------------------------------------------------
IRANYekan fonts are considered a proprietary software. To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com 
--------------------------------------------------------------------------------------
This set of fonts are used in this project under the license: (.....)
--------------------------------------------------------------------------------------
*	
**/
@font-face {
	font-family: venus-fs;
	font-style: normal;
	font-weight: bold;
	src: url('../../fonts/yekan/eot/iranyekanwebbold(fanum).eot');
	src: url('../../fonts/yekan/eot/iranyekanwebbold(fanum).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../../fonts/yekan/woff2/iranyekanwebbold(fanum).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../../fonts/yekan/woff/iranyekanwebbold(fanum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../../fonts/yekan/ttf/iranyekanwebbold(fanum).ttf') format('truetype');
}

@font-face {
	font-family: venus-fs;
	font-style: normal;
	font-weight: 300;
	src: url('../../fonts/yekan/eot/iranyekanweblight(fanum).eot');
	src: url('../../fonts/yekan/eot/iranyekanweblight(fanum).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../../fonts/yekan/woff2/iranyekanweblight(fanum).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../../fonts/yekan/woff/iranyekanweblight(fanum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../../fonts/yekan/ttf/iranyekanweblight(fanum).ttf') format('truetype');
}

@font-face {
	font-family: venus-fs;
	font-style: normal;
	font-weight: normal;
	src: url('../../fonts/yekan/eot/iranyekanwebregular(fanum).eot');
	src: url('../../fonts/yekan/eot/iranyekanwebregular(fanum).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../../fonts/yekan/woff2/iranyekanwebregular(fanum).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../../fonts/yekan/woff/iranyekanwebregular(fanum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../../fonts/yekan/ttf/iranyekanwebregular(fanum).ttf') format('truetype');
}

