.dokan-dashboard .content-half-part {
    float: right;
}

.dokan-dashboard .content-half-part:first-child {
    padding-left: 20px;
    padding-right: 0;
}

.dokan-dashboard .content-half-part:last-child {
    padding-left: 0;
}

.dokan-dashboard .dokan-input-group {
    direction: ltr;
}

.dokan-dashboard .dokan-form-control {
    width: 100%;
}

.dokan-dashboard #post-excerpt {
    padding: 10px;
    border-radius: 7px;
    border: 1px solid #BBB;
}

.dokan-dashboard .product-edit-container .dokan-feat-image-upload {
    border-radius: 7px;
}

.ve-dokan-sidebar .blog-sidebar {
    -ms-flex: 0 0 23.33333%;
    flex: 0 0 23.33333%;
    max-width: 23.33333%;
}

.ve-store-single-page .woocommerce-breadcrumb {
    display: none;
}

.ve-store-single-page .seller-items .digikala-product {
    border-radius: 0;
    border: 1px solid #ebebeb;
    margin-left: -1px !important;
    margin-top: -1px !important;
    margin-bottom: -1px !important;
    padding: 30px 12px 46px;
}

.ve-res-dashboard .digikala-content-inner .vendor-dashboard {
    background-color: #4fcce9 !important;
    -webkit-box-shadow: 0 6px 12px 0 rgba(79, 193, 233, .3);
    box-shadow: 0 6px 12px 0 rgba(79, 193, 233, .3);
    border-radius: 5px;
    border: none;
    padding: 10px 20px !important;
    line-height: initial;
}

.woocommerce-MyAccount-content div .dokan-account-migration-lists {
    border: 1px solid #ef5661 !important;
    border-radius: 8px;
}

.woocommerce-MyAccount-content div .dokan-account-migration-lists li .left-content {
    text-align: right;
}

.woocommerce-MyAccount-content div .dokan-account-migration-lists li .left-content p {
    font-size: 15px;
}

.woocommerce-MyAccount-content div .dokan-account-migration-lists li .left-content p strong {
    font-weight: 900;
    color: #ef394e;
}

.woocommerce-MyAccount-content div .dokan-account-migration-lists li .right-content {
    text-align: left;
}

.woocommerce-MyAccount-content div .dokan-account-migration-lists li .right-content a {
    box-shadow: none !important;
    outline: none !important;
    background-color: #ef394e !important;
    border: none !important;
    padding: 10px 20px !important;
    border-radius: 5px;
}

.woocommerce-MyAccount-content div h2 {
    margin-top: 10px;
    font-size: 15px;
}

.row .woocommerce-MyAccount-content div form {
    margin-top: 22px;
    margin-bottom: 0;
}

.row .woocommerce-MyAccount-content div form .form-row .dokan-btn {
    width: 100%;
    padding: 13px 0;
    color: #fff;
    background-color: #ef394e;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
    outline: none !important;
}

.v-name-seller {
    position: relative;
    padding: 0 45px 14px 14px;
}

.v-name-seller:before {
    font-family: "Font Awesome 5 Pro";
    content: "\f54e";
    color: #9b9b9b;
    position: absolute;
    right: 14px;
}

.v-name-seller:after {
    content: "";
    position: absolute;
    left: 1rem;
    right: 1rem;
    bottom: -1px;
    border-bottom: 1px solid #e4e4e4;
}

.v-name-seller b {
    font-size: 14px;
    font-weight: 400;
}

.v-name-seller a {
    font-size: 14px;
    font-weight: 700;
    color: #000;
}

.v-name-seller p {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    color: #000;
    margin: 0;
}

.v-guarantee-product {
    position: relative;
    padding: 14px 45px 14px 14px;
    font-size: 14px;
    font-weight: 400;
}

.v-guarantee-product:before {
    font-family: "Font Awesome 5 Pro";
    content: "\f2f7";
    color: #9b9b9b;
    position: absolute;
    top: 10px;
    right: 14.5px;
    font-size: 18px;
    font-weight: 300;
}

.v-guarantee-product:after {
    content: "";
    position: absolute;
    left: 1rem;
    right: 1rem;
    bottom: -1px;
    border-bottom: 1px solid #e4e4e4;
}

.physical-stock-product {
    position: relative;
    padding: 14px 45px 14px 14px;
    font-size: 14px;
    font-weight: 400;
}

.physical-stock-product:before {
    font-family: "Font Awesome 5 Pro";
    content: "\f495";
    color: #0fabc6;
    position: absolute;
    top: 10.5px;
    right: 14.5px;
    font-size: 16px;
    font-weight: 300;
}

.physical-stock-product:after {
    content: "";
    position: absolute;
    left: 1rem;
    right: 1rem;
    bottom: -1px;
    border-bottom: 1px solid #e4e4e4;
}

.physical-dokan-list-inline li {
    background: #fff;
    -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, .05);
    margin: 0 5px !important;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    padding-right: 45px !important;
}

.physical-dokan-list-inline li:before {
    content: "\f46c";
    font-family: "Font Awesome 5 Pro";
    position: absolute;
    font-weight: 300;
    font-size: 30px;
    color: #7c7c7c;
    background: #e9e9e9;
    width: 80px;
    top: 0;
    right: -10px;
    bottom: 0;
    border-radius: 100px 0px 0px 50px;
    line-height: 90px;
}

.physical-dokan-list-inline .ve-list-inline-count-sales {
    background-color: rgb(249, 182, 23, .2);
    -webkit-box-shadow: 0 5px 10px 0 rgba(249, 182, 23, .2);
    box-shadow: 0 5px 10px 0 rgb(249, 182, 23, .2);
    border: 1px solid rgb(249 182 23);
}

.physical-dokan-list-inline .ve-list-inline-count-sales:before {
    content: "\f4b9";
    color: #fff;
    background-color: rgb(249, 182, 23);
    -webkit-box-shadow: 0 5px 10px 0 rgba(249, 182, 23, .5);
    box-shadow: 0 5px 10px 0 rgba(249, 182, 23, .5);
}

.physical-dokan-list-inline .ve-list-inline-earning {
    background-color: rgb(87, 207, 177, 0.2);
    -webkit-box-shadow: 0 4px 12px 0 rgba(87, 207, 177, .2);
    box-shadow: 0 4px 12px 0 rgb(87, 207, 177, .2);
    border: 1px solid rgb(87, 207, 177, 1);
}

.physical-dokan-list-inline .ve-list-inline-earning:before {
    content: "\f81d";
    color: #fff;
    background-color: #57cfb1;
    -webkit-box-shadow: 0 4px 12px 0 rgba(87, 207, 177, .5);
    box-shadow: 0 4px 12px 0 rgba(87, 207, 177, .5);
}

.physical-dokan-list-inline .ve-list-inline-pageview {
    background-color: rgb(109, 110, 113, 0.2);
    -webkit-box-shadow: 0 5px 10px 0 rgba(109, 110, 113, 0.2);
    box-shadow: 0 5px 10px 0 rgba(109, 110, 113, 0.2);
    border: 1px solid rgb(109 110 113);
}

.physical-dokan-list-inline .ve-list-inline-pageview:before {
    content: "\f06e";
    color: #fff;
    background-color: rgb(109, 110, 113);
    -webkit-box-shadow: 0 5px 10px 0 rgba(109, 110, 113, 0.3);
    box-shadow: 0 5px 10px 0 rgba(109, 110, 113, 0.3);
    padding-top: 1px;
    padding-right: 3px;
}

.physical-dokan-list-inline .ve-list-inline-order {
    background-color: rgb(79, 204, 233, 0.2);
    -webkit-box-shadow: 0 6px 12px 0 rgba(79, 193, 233, .2);
    box-shadow: 0 6px 12px 0 rgba(79, 193, 233, .2);
    border: 1px solid rgb(79 204 233);
}

.physical-dokan-list-inline .ve-list-inline-order:before {
    content: "\f218";
    color: #fff;
    background-color: #4fcce9;
    -webkit-box-shadow: 0 6px 12px 0 rgba(79, 193, 233, .3);
    box-shadow: 0 6px 12px 0 rgba(79, 193, 233, .3);
    padding-right: 2px;
}

.physical-dokan-list-inline li:first-child {
    margin-right: 0px !important;
}

.physical-dokan-list-inline li:last-child {
    margin-left: 0px !important;
}

.dokan-dashboard .dokan-dashboard-content article.dashboard-content-area .dashboard-widget.big-counter .count {
    border: none !important;
}

.dokan-profile-completeness {
    width: 100%;
    border-radius: 10px !important;
    -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, .05) !important;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, .05) !important;
    background-color: #fff !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    border: none !important;
}

.dokan-profile-completeness .dokan-panel-body .dokan-alert {
    font-size: 14px;
    padding: 5px 10px;
    font-weight: 300;
}

.dokan-dashboard .dokan-dashboard-content article.dashboard-content-area .dokan-dash-left {
    padding-left: 0 !important;
}

/*Start Digikala Demo*/
.container-digikala .dokan-dashboard-wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.container-digikala .dokan-dashboard-wrap .dokan-dash-sidebar {
    background-color: transparent !important;
}

.container-digikala .dokan-dashboard-wrap .dokan-dash-sidebar .ve-dokan-profile {
    border-radius: 10px;
    -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, .05);
    background-color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 15px;
}

.container-digikala .dokan-dashboard-wrap .dokan-dash-sidebar .ve-dokan-profile .ve-dokan-avatar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 95px;
    height: 95px;
    margin: 15px auto;
    border: 3px solid #f5f7fa;
    border-radius: 50%;
}

.container-digikala .dokan-dashboard-wrap .dokan-dash-sidebar .ve-dokan-profile .ve-dokan-avatar img {
    border-radius: 50%;
    margin: auto;
}

.container-digikala .dokan-dashboard-wrap .dokan-dash-sidebar .ve-dokan-profile .ve-dokan-user-name {
    color: #606265;
    font-size: 16px;
    line-height: 34px;
    font-weight: 700;
    text-align: center;
    margin: 20px 0 30px;
}

.container-digikala .dokan-dashboard-wrap .dokan-dash-sidebar .ve-dokan-profile .ve-dokan-nav-profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.container-digikala .dokan-dashboard-wrap .dokan-dash-sidebar .ve-dokan-profile .ve-dokan-nav-profile .ve-dokan-nav-a {
    position: relative;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 14px;
    line-height: 20px;
    color: #777;
    width: 100%;
    border: 1px solid #f5f7fa;
    border-radius: 8px;
    background-color: #fff;
    padding: 10px 0;
    margin: 0 5px;
    font-weight: 400;
    text-align: center;
}

.container-digikala .dokan-dashboard-wrap .dokan-dash-sidebar .ve-dokan-profile .ve-dokan-nav-profile .ve-dokan-nav-a:hover {
    color: #777;
    text-decoration: none;
    -webkit-box-shadow: 0 6px 12px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, .05);
}

.container-digikala .dokan-dashboard-wrap .dokan-dash-sidebar .ve-dokan-profile .ve-dokan-nav-profile .ve-dokan-nav-a:before {
    font-family: "Font Awesome 5 Pro";
    content: "\f0e0";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #aeaeae;
    height: 25px;
    font-size: 18px;
    line-height: 19px;
    font-weight: 300;
    justify-content: center;
}

.container-digikala .dokan-dashboard-wrap .dokan-dash-sidebar .ve-dokan-profile .ve-dokan-nav-profile .ve-dokan-nav-message:before {
    content: "\f0e0";
}

.container-digikala .dokan-dashboard-wrap .dokan-dash-sidebar .ve-dokan-profile .ve-dokan-nav-profile .ve-dokan-nav-profile-link:before {
    content: "\f406";
}

.container-digikala .dokan-dashboard-wrap .dokan-dash-sidebar .ve-dokan-profile .ve-dokan-nav-profile .ve-dokan-nav-shop-link:before {
    content: "\f54e";
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
    padding: 22px 20px 20px 22px !important;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, .05);
    background-color: #fff !important;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-product-listing {
    padding-top: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, .05);
    background-color: #fff !important;
}

.container-digikala .dokan-dashboard-wrap .dokan-dash-sidebar #dokan-navigation .dokan-dashboard-menu {
    border-radius: 10px;
    -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, .05);
    background-color: #fff !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 15px;
}

.container-digikala .dokan-dashboard-wrap .dokan-dash-sidebar #dokan-navigation .dokan-dashboard-menu li {
    position: relative;
    background-color: transparent !important;
    border: none !important;
}

.container-digikala .dokan-dashboard-wrap .dokan-dash-sidebar #dokan-navigation .dokan-dashboard-menu li.active a {
    color: rgb(98, 102, 109) !important;
}

.container-digikala .dokan-dashboard-wrap .dokan-dash-sidebar #dokan-navigation .dokan-dashboard-menu li.active:before {
    content: '';
    position: absolute;
    background-color: #4fcce9;
    top: 0;
    bottom: 0;
    right: -20px;
    width: 5px;
    border-radius: 5px 0px 0px 5px;
}

/*.container-digikala .dokan-dashboard-wrap .dokan-dash-sidebar #dokan-navigation .dokan-dashboard-menu li.active:after {*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    right: -20px;*/
/*    left: -20px;*/
/*    border: transparent solid;*/
/*    content: " ";*/
/*    position: absolute;*/
/*    pointer-events: none;*/
/*    background-color: #4fcce914 !important;*/
/*    z-index: 0;*/
/*}*/

.container-digikala .dokan-dashboard-wrap .dokan-dash-sidebar #dokan-navigation .dokan-dashboard-menu li a {
    color: #999 !important;
    padding: 10px 42px 10px 0;
    margin-bottom: 10px;
    font-weight: 700;
}

.container-digikala .dokan-dashboard-wrap .dokan-dash-sidebar #dokan-navigation .dokan-dashboard-menu li a:hover {
    color: #4fcce9 !important;
}

.container-digikala .dokan-dashboard-wrap .dokan-dash-sidebar #dokan-navigation .dokan-dashboard-menu li a i {
    padding-left: 15px;
    padding-right: 5px;
    font-family: "Font Awesome 5 Pro" !important;
    font-weight: 300;
    position: absolute;
    top: 10px;
    right: 0;
}

.container-digikala .dokan-dashboard-wrap .dokan-dash-sidebar #dokan-navigation .dokan-dashboard-menu li a i.fa-comments-o:before {
    content: "\f086";
}

.container-digikala .dokan-dashboard-content .dashboard-content-area .dokan-dash-left .dashboard-widget.orders {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-left: auto;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, .05);
    background-color: #fff;
    padding: 0px;
}


.container-digikala .dokan-dashboard-content .dashboard-content-area .dokan-dash-left .dashboard-widget.orders .widget-title {
    padding: 20px;
    color: #889098;
    font-size: 16px;
    font-weight: 700;
}

.container-digikala .dokan-dashboard-content .dashboard-content-area .dokan-dash-left .dashboard-widget.orders .content-half-part {
    /*float: none;*/
    display: block;
    /*width: 100%;*/
}

.container-digikala .dokan-dashboard-content .dashboard-content-area .dokan-dash-left .dashboard-widget.orders .content-half-part #order-stats {
    width: 100% !important;
}

.container-digikala .dokan-dashboard-content .dashboard-content-area .dokan-dash-left .dashboard-widget.orders .content-half-part ul {
    padding: 0 20px;
    width: 100%;
}

.container-digikala .dokan-dashboard-content .dashboard-content-area .dokan-dash-left .dashboard-widget.orders .content-half-part ul li {
    margin-bottom: 10px;
}

.container-digikala .dokan-dashboard-content .dashboard-content-area .dokan-dash-left .dashboard-widget.orders .content-half-part ul li a {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 400;
}

.container-digikala .dokan-dashboard-content .dashboard-content-area .dokan-dash-left .dashboard-widget.orders .content-half-part ul li a .title {
    margin: auto 0;
}

.container-digikala .dokan-dashboard-content .dashboard-content-area .dokan-dash-left .dashboard-widget.orders .content-half-part ul li a .count {
    float: none;
    font-size: 17px;
    font-weight: 700;
}

.container-digikala .dokan-dashboard-content .dashboard-content-area .dokan-dash-left .dashboard-widget .widget-title i {
    font-family: "Font Awesome 5 Pro" !important;
    font-weight: 300;
    padding-left: 10px;
}

.container-digikala .dokan-dashboard-content .dashboard-content-area .dokan-dash-left .dashboard-widget.reviews {
    -ms-flex: 0 0 49.5%;
    flex: 0 0 49.5%;
    max-width: 49.5%;
    margin-left: auto;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, .05);
    background-color: #fff;
    padding: 0px;
}

.container-digikala .dokan-dashboard-content .dashboard-content-area .dokan-dash-left .dashboard-widget.reviews .widget-title {
    padding: 20px;
    color: #889098;
    font-size: 16px;
    font-weight: 700;
}

.container-digikala .dokan-dashboard-content .dashboard-content-area .dokan-dash-left .dashboard-widget.reviews ul {
    padding: 0 20px;
    width: 100%;
}

.container-digikala .dokan-dashboard-content .dashboard-content-area .dokan-dash-left .dashboard-widget.reviews ul li {
    margin-bottom: 10px;
}

.container-digikala .dokan-dashboard-content .dashboard-content-area .dokan-dash-left .dashboard-widget.reviews ul li a {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 400;
    color: #899098;
}

.container-digikala .dokan-dashboard-content .dashboard-content-area .dokan-dash-left .dashboard-widget.reviews ul li a .title {
    margin: auto 0;
}

.container-digikala .dokan-dashboard-content .dashboard-content-area .dokan-dash-left .dashboard-widget.reviews ul li a .count {
    float: none;
    font-size: 17px;
    font-weight: 700;
    color: #606265;
}

.container-digikala .dokan-dashboard-content .dashboard-content-area .dokan-dash-left .dashboard-widget.products {
    -ms-flex: 0 0 49.5%;
    flex: 0 0 49.5%;
    max-width: 49.5%;
    margin-left: auto;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, .05);
    background-color: #fff;
    padding: 0px;
}

.container-digikala .dokan-dashboard-content .dashboard-content-area .dokan-dash-left .dashboard-widget.products .widget-title {
    padding: 20px;
    color: #889098;
    font-size: 16px;
    font-weight: 700;
}

.container-digikala .dokan-dashboard-content .dashboard-content-area .dokan-dash-left .dashboard-widget.products .widget-title .pull-right {
    float: left;
}

.container-digikala .dokan-dashboard-content .dashboard-content-area .dokan-dash-left .dashboard-widget.products ul {
    padding: 0 20px;
    width: 100%;
}

.container-digikala .dokan-dashboard-content .dashboard-content-area .dokan-dash-left .dashboard-widget.products ul li {
    margin-bottom: 10px;
}

.container-digikala .dokan-dashboard-content .dashboard-content-area .dokan-dash-left .dashboard-widget.products ul li a {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 400;
    color: #899098;
}

.container-digikala .dokan-dashboard-content .dashboard-content-area .dokan-dash-left .dashboard-widget.products ul li a .title {
    margin: auto 0;
}

.container-digikala .dokan-dashboard-content .dashboard-content-area .dokan-dash-left .dashboard-widget.products ul li a .count {
    float: none;
    font-size: 17px;
    font-weight: 700;
    color: #606265;
}

.dokan-dashboard .dokan-dashboard-content article.dashboard-content-area .dokan-dash-right .dashboard-widget.sells-graph {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, .05);
    background-color: #fff;
    padding: 0px;
}

.dokan-dashboard .dokan-dashboard-content article.dashboard-content-area .dokan-dash-right .dashboard-widget.sells-graph .widget-title {
    padding: 20px;
    color: #889098;
    font-size: 16px;
    font-weight: 700;
}

.dokan-dashboard .dokan-dashboard-content article.dashboard-content-area .dokan-dash-right .dashboard-widget.sells-graph .widget-title i {
    font-family: "Font Awesome 5 Pro" !important;
    font-weight: 300;
    padding-left: 10px;
}

.dokan-dashboard .dokan-dashboard-content article.dashboard-content-area .dokan-dash-right .dashboard-widget.sells-graph .chart-container {
    padding: 10px;
}

.dokan-dashboard .dokan-dashboard-content article.dashboard-content-area .dokan-dash-right .dashboard-widget.dokan-announcement-widget {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, .05);
    background-color: #fff;
    padding: 0px;
}

.dokan-dashboard .dokan-dashboard-content article.dashboard-content-area .dokan-dash-right .dashboard-widget.dokan-announcement-widget .widget-title {
    padding: 20px;
    color: #889098;
    font-size: 16px;
    font-weight: 700;
}

.dokan-dashboard .dokan-dashboard-content article.dashboard-content-area .dokan-dash-right .dashboard-widget.dokan-announcement-widget .widget-title i {
    font-family: "Font Awesome 5 Pro" !important;
    font-weight: 300;
    padding-left: 10px;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-product-listing .dokan-product-listing-area .product-listing-top {
    margin-top: 5px;
    margin-bottom: 20px;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-product-listing .dokan-product-listing-area .product-listing-top ul {
    margin-bottom: 1px;
    width: unset;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-product-listing .dokan-product-listing-area .product-listing-top ul li {
    position: relative;
    border: none;
    padding: 0 15px;
    margin-left: 15px;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-product-listing .dokan-product-listing-area .product-listing-top ul li.active:before {
    content: '';
    background-color: #4fcce9;
    position: absolute;
    top: 33px;
    right: 0;
    left: 0;
    height: 2px;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-product-listing .dokan-product-listing-area .product-listing-top ul li.active {
    color: rgb(98, 102, 109) !important;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-product-listing .dokan-product-listing-area .product-listing-top ul li a {
    color: #999;
    font-size: 14px;
    font-weight: 400;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-product-listing .dokan-product-listing-area .product-listing-top .dokan-add-product-link {
    float: none;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-product-listing .dokan-product-listing-area .product-listing-top .dokan-add-product-link a {
    background-color: #4fcce9 !important;
    -webkit-box-shadow: 0 6px 12px 0 rgba(79, 193, 233, .3);
    box-shadow: 0 6px 12px 0 rgba(79, 193, 233, .3);
    border-radius: 5px;
    border: none;
    padding: 10px 20px !important;
    line-height: initial;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-product-listing .dokan-product-listing-area .dokan-w12 {
    display: flex;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-product-listing .dokan-product-listing-area .dokan-w12 form {
    float: none;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-product-listing .dokan-product-listing-area .dokan-w12 .dokan-product-date-filter .dokan-form-group {
    border: 1px solid #e6eaef;
    padding: 3px 4px 3px 8px;
    border-radius: 8px;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-product-listing .dokan-product-listing-area .dokan-w12 .dokan-product-date-filter .dokan-form-group select {
    outline: none !important;
    border: none;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-product-listing .dokan-product-listing-area .dokan-w12 .dokan-product-date-filter button {
    outline: none !important;
    border: none;
    line-height: inherit;
    border-radius: 5px;
    padding: 7.5px 15px;
    background-color: #4fcce9 !important;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-product-listing .dokan-product-listing-area .dokan-w12 .dokan-product-date-filter button:hover {
    -webkit-box-shadow: 0 6px 12px 0 rgba(79, 204, 233, .3);
    box-shadow: 0 6px 12px 0 rgba(79, 204, 233, .3);
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-product-listing .dokan-product-listing-area .dokan-w12 .dokan-product-search-form button {
    outline: none !important;
    border: none;
    line-height: inherit;
    border-radius: 5px;
    padding: 7.3px 22px;
    background-color: #4fcce9 !important;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-product-listing .dokan-product-listing-area .dokan-w12 .dokan-product-search-form button:hover {
    -webkit-box-shadow: 0 6px 12px 0 rgba(79, 204, 233, .3);
    box-shadow: 0 6px 12px 0 rgba(79, 204, 233, .3);
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-product-listing .dokan-product-listing-area .dokan-w12 .dokan-product-search-form .dokan-form-group {
    float: none !important;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-product-listing .dokan-product-listing-area .dokan-w12 .dokan-product-search-form .dokan-form-group .dokan-form-control {
    width: calc(100% - 94px);
    padding: 6.8px 15px;
    margin: 0;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-product-listing .dokan-product-listing-area .dokan-dashboard-product-listing-wrapper .dokan-form-inline .dokan-form-group {
    float: right;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-product-listing .dokan-product-listing-area .dokan-dashboard-product-listing-wrapper .dokan-form-inline .dokan-form-group input[type="submit"] {
    outline: none !important;
    border: none;
    line-height: inherit;
    border-radius: 5px;
    padding: 7.3px 22px;
    background-color: #4fcce9 !important;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-product-listing .dokan-product-listing-area .dokan-dashboard-product-listing-wrapper .dokan-form-inline .ve-dokan-form-group-input-select {
    border: 1px solid #e6eaef;
    padding: 3px 4px 3px 8px;
    border-radius: 8px;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-product-listing .dokan-product-listing-area .dokan-dashboard-product-listing-wrapper .dokan-form-inline .ve-dokan-form-group-input-select select {
    outline: none !important;
    border: none !important;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-orders-content {
    padding-top: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, .05);
    background-color: #fff !important;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-orders-content .dokan-orders-area .order-statuses-filter {
    margin-top: 5px;
    border-bottom: 1px solid #EDEDED;
    line-height: 50px;
    margin-bottom: 20px;
    padding: 0;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-orders-content .dokan-orders-area .order-statuses-filter li {
    position: relative;
    border: none;
    padding: 0 15px;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-orders-content .dokan-orders-area .order-statuses-filter li.active {
    color: rgb(98, 102, 109) !important;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-orders-content .dokan-orders-area .order-statuses-filter li.active:before {
    content: '';
    background-color: #4fcce9;
    position: absolute;
    top: 32px;
    right: 0;
    left: 0;
    height: 2px;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-orders-content .dokan-orders-area .order-statuses-filter li a {
    color: #999;
    font-size: 14px;
    font-weight: 400;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-orders-content .dokan-orders-area .dokan-order-filter-serach .dokan-right input[type="submit"] {
    outline: none !important;
    border: none;
    line-height: inherit;
    border-radius: 5px;
    padding: 7.3px 22px;
    background-color: #4fcce9 !important;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-orders-content .dokan-orders-area .dokan-order-filter-serach .dokan-left .dokan-form-group .datepicker {
    width: 222px !important;
    padding: 5.5px 15px !important;
    font-size: 14px;
    border-radius: 5px;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-orders-content .dokan-orders-area .dokan-order-filter-serach .dokan-left .dokan-form-group .select2-container .select2-selection--single {
    border-radius: 5px;
    font-size: 14px;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-orders-content .dokan-orders-area .dokan-order-filter-serach .dokan-left .dokan-form-group input[type="submit"] {
    outline: none !important;
    border: none;
    line-height: inherit;
    border-radius: 5px;
    padding: 7.3px 22px;
    background-color: #4fcce9 !important;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-orders-content .dokan-orders-area .dokan-form-inline .ve--dokan-form-group-style {
    margin-bottom: 0;
    border: 1px solid #e6eaef;
    padding: 3px 4px 3px 8px;
    border-radius: 8px;
    float: right;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-orders-content .dokan-orders-area .dokan-form-inline .dokan-form-group {
    float: right;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-orders-content .dokan-orders-area .dokan-form-inline .dokan-form-group .dokan-form-control {
    border: none;
    outline: none !important;
}

.container-digikala input[type="submit"].dokan-btn-theme, a.dokan-btn-theme, .dokan-btn-theme {
    outline: none !important;
    border: none;
    line-height: inherit;
    border-radius: 5px;
    padding: 7.3px 22px;
    background: #4fcce9 !important;
    background-color: #4fcce9 !important;
}

.container-digikala input[type="submit"].dokan-btn-theme:hover, a.dokan-btn-theme:hover, .dokan-btn-theme:hover {
    -webkit-box-shadow: 0 6px 12px 0 rgba(79, 204, 233, .3);
    box-shadow: 0 6px 12px 0 rgba(79, 204, 233, .3);
    background: #4fcce9 !important;
    background-color: #4fcce9 !important;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-coupon-content {
    padding-top: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, .05);
    background-color: #fff !important;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-coupon-content .dashboard-coupons-area .dokan-dashboard-header .left-header-content .entry-title .left-header-content {
    float: none !important;
    margin: auto auto auto 0;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-coupon-content .dashboard-coupons-area .dokan-dashboard-header .left-header-content .entry-title .left-header-content a {
    height: auto !important;
    background-color: #4fcce9 !important;
    border-radius: 5px;
    border: none;
    padding: 10px 20px !important;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-coupon-content .dashboard-coupons-area .dokan-dashboard-header .left-header-content .entry-title .left-header-content a:hover {
    -webkit-box-shadow: 0 6px 12px 0 rgba(79, 193, 233, .3);
    box-shadow: 0 6px 12px 0 rgba(79, 193, 233, .3);
}

.dokan-coupon-content .code {
    float: right !important;
}

.dokan-dashboard header.dokan-dashboard-header h1 {
    font-size: 19px;
    font-weight: 400;
    color: #4D4D4D;
    display: flex;
    margin: 10px auto 25px;
    line-height: inherit;
}

.dokan-dashboard header.dokan-dashboard-header h1:before {
    content: '';
    width: 4px;
    height: 30px;
    background-color: #FF4157;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
    border-radius: 100px;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-reports-content {
    padding-top: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, .05);
    background-color: #fff !important;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-reports-content .dokan-report-wrap .dokan_tabs {
    margin-top: 5px;
    border-bottom: 1px solid #EDEDED;
    line-height: 50px;
    margin-bottom: 20px;
    padding: 0;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-reports-content .dokan-report-wrap .dokan_tabs li {
    position: relative;
    border: none;
    padding: 0 15px;
    line-height: initial;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-reports-content .dokan-report-wrap .dokan_tabs li.active a {
    color: rgb(98, 102, 109) !important;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-reports-content .dokan-report-wrap .dokan_tabs li.active:before {
    content: '';
    background-color: #4fcce9;
    position: absolute;
    top: 36px;
    right: 0;
    left: 0;
    height: 2px;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-reports-content .dokan-report-wrap .dokan_tabs li a {
    color: #999;
    font-size: 14px;
    font-weight: 400;
    padding: 0 !important;
    background: transparent !important;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-reports-content .dokan-report-wrap .dokan_tabs li a:hover {
    color: #4fcce9;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-reports-content .dokan-report-wrap #dokan_tabs_container .chart-legend bdi {
    font-size: 23px;
    font-weight: 700;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-reports-content .dokan-report-wrap #dokan_tabs_container .chart-legend bdi .woocommerce-Price-currencySymbol {
    font-size: 15px;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-reports-content .dokan-report-wrap #dokan_tabs_container .chart-legend strong {
    font-size: 23px;
    font-weight: 700;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-reports-content .dokan-report-wrap .report-right .postbox h3 {
    font-size: 15px;
    margin: 10px 0 25px;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-reports-content .dokan-report-wrap #dokan_tabs_container .tab-pane .dokan-form-group {
    float: right;
    margin-left: 15px;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-reports-content .dokan-report-wrap #dokan_tabs_container .tab-pane .dokan-form-group input[type="text"] {
    font-size: 15px;
    padding: 5px 20px;
    width: 220px;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-reports-content .dokan-report-wrap #dokan_tabs_container .tab-pane form input[type="submit"] {
    outline: none !important;
    border: none;
    line-height: inherit;
    border-radius: 5px;
    padding: 7.3px 22px;
    background-color: #4fcce9 !important;
    font-size: 14px;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-reviews-content {
    padding-top: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, .05);
    background-color: #fff !important;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-reviews-content .dokan-reviews-area .dokan-comments-wrap #dokan-comments_menu {
    margin-top: 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid #EDEDED;
    line-height: 50px;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-reviews-content .dokan-reviews-area .dokan-comments-wrap #dokan-comments_menu ul {
    margin-bottom: 1px;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-reviews-content .dokan-reviews-area .dokan-comments-wrap #dokan-comments_menu ul li {
    position: relative;
    border: none;
    padding: 0 15px;
    margin-left: 15px;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-reviews-content .dokan-reviews-area .dokan-comments-wrap #dokan-comments_menu ul li a {
    color: #999;
    font-size: 14px;
    font-weight: 400;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-reviews-content .dokan-reviews-area .dokan-comments-wrap #dokan-comments_menu ul li a:hover {
    color: #4fcce9 !important;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-reviews-content .dokan-reviews-area .dokan-comments-wrap #dokan-comments_menu ul li.active a {
    color: rgb(98, 102, 109) !important;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-reviews-content .dokan-reviews-area .dokan-comments-wrap #dokan-comments_menu ul li.active:before {
    content: '';
    background-color: #4fcce9;
    position: absolute;
    top: 33px;
    right: 0;
    left: 0;
    height: 2px;
}

.dokan-reviews-content .dokan-reviews-area .dokan-comments-wrap #dokan-comments-table td.col-content, .dokan-reviews-content .dokan-reviews-area .dokan-comments-wrap #dokan-comments-table th.col-content {
    width: 50% !important;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-reviews-content .dokan-reviews-area .dokan-comments-wrap #dokan_comments-form table tbody tr .col-content .dokan-comments-content {
    line-height: 30px;
    font-size: 14px;
    text-align: justify;
    margin-bottom: 10px;
    font-weight: 400;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-reviews-content .dokan-reviews-area .dokan-comments-wrap #dokan_comments-form table tbody tr .col-author .dokan-author-img img {
    border-radius: 50%;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-reviews-content .dokan-reviews-area .dokan-comments-wrap #dokan_comments-form table tbody tr .col-author .dokan-author-meta {
    font-size: 14px;
    margin-right: 10px;
    line-height: initial;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-reviews-content .dokan-reviews-area .dokan-comments-wrap #dokan_comments-form table tbody tr .col-link a {
    background: transparent;
    color: #4fcce9;
    border: 1px solid #4fcce9;
    padding: 4px 15px 5px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: initial;
    margin: 10px 10px 0;
    display: block;
    text-align: center;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-reviews-content .dokan-reviews-area .dokan-comments-wrap #dokan_comments-form table tbody tr .dokan-rating .star-rating {
    margin: 15px 0 0 0;
}

.dokan-reviews-content .dokan-reviews-area .dokan-comments-wrap #dokan-comments-table td.col-author, .dokan-reviews-content .dokan-reviews-area .dokan-comments-wrap #dokan-comments-table th.col-author {
    width: 26% !important;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-withdraw-content {
    padding-top: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, .05);
    background-color: #fff !important;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-withdraw-content .dokan-withdraw-area .entry-content ul {
    margin-top: 5px;
    border-bottom: 1px solid #EDEDED;
    line-height: 50px;
    margin-bottom: 20px;
    padding: 0;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-withdraw-content .dokan-withdraw-area .entry-content ul li {
    position: relative;
    border: none;
    padding: 0 15px;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-withdraw-content .dokan-withdraw-area .entry-content ul li a {
    color: #999;
    font-size: 14px;
    font-weight: 400;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-withdraw-content .dokan-withdraw-area .entry-content ul li a:hover {
    color: #4fcce9;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-withdraw-content .dokan-withdraw-area .entry-content ul li.active a {
    color: rgb(98, 102, 109) !important;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-withdraw-content .dokan-withdraw-area .entry-content ul li.active:before {
    content: '';
    background-color: #4fcce9;
    position: absolute;
    top: 32px;
    right: 0;
    left: 0;
    height: 2px;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content .edit-account-wrap .entry-title {
    margin: 0 0 10px 0;
    border-bottom: 1px solid #EDEDED;
    padding: 0 0 10px 0;
    font-size: 19px;
    font-weight: 400;
    color: #4D4D4D;
    display: flex;
    line-height: inherit;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content .edit-account-wrap .entry-title:before {
    content: '';
    width: 4px;
    height: 30px;
    background-color: #FF4157;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
    border-radius: 100px;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-settings-content {
    padding-top: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, .05);
    background-color: #fff !important;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-settings-content .dokan-settings-area .dokan-dashboard-header .entry-title small {
    margin-right: auto;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-settings-content .dokan-settings-area .dokan-dashboard-header .entry-title small a {
    background-color: #4fcce9 !important;
    border-radius: 5px;
    border: none;
    padding: 10px 20px !important;
    color: #fff;
    line-height: 21px;
    display: block;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-settings-content .dokan-settings-area .dokan-dashboard-header .entry-title small a:hover {
    -webkit-box-shadow: 0 6px 12px 0 rgba(79, 193, 233, .3);
    box-shadow: 0 6px 12px 0 rgba(79, 193, 233, .3);
}

.dokan-form-horizontal .dokan-control-label {
    text-align: right !important;
}

.container-digikala .dokan-dashboard-wrap .dokan-dash-sidebar #dokan-navigation .dokan-dashboard-menu .dokan-common-links {
    margin-top: 40px;
    background: transparent !important;
}

.container-digikala .dokan-dashboard-wrap .dokan-dash-sidebar #dokan-navigation .dokan-dashboard-menu .dokan-common-links a {
    position: relative;
    padding: 0;
    text-align: center;
    background: transparent !important;
    border-color: #eee !important;
}

.container-digikala .dokan-dashboard-wrap .dokan-dash-sidebar #dokan-navigation .dokan-dashboard-menu .dokan-common-links a i {
    position: relative;
    padding: 0;
    top: unset;
}

.container-digikala .dokan-dashboard-wrap .dokan-dash-sidebar #dokan-navigation .dokan-dashboard-menu .social {
    top: unset;
    right: unset;
}

.container-digikala .dokan-dashboard-wrap .dokan-dash-sidebar #dokan-navigation .dokan-dashboard-menu .social i {
    font-size: 20px;
    padding-left: 0;
}

.container-digikala .dokan-dashboard-wrap .dokan-dash-sidebar #dokan-navigation .dokan-dashboard-menu .social i:before {
    content: "\f1e0";
}

.container-digikala .dokan-dashboard-wrap .dokan-dash-sidebar #dokan-navigation .dokan-dashboard-menu .back a {
    padding-right: 5px;
}

.container-digikala .dokan-dashboard-wrap .dokan-dash-sidebar #dokan-navigation .dokan-dashboard-menu .back a i {
    left: 0;
    right: unset;
}

.container-digikala .dokan-dashboard-wrap .dokan-dash-sidebar #dokan-navigation .dokan-dashboard-menu .settings a .pull-right {
    display: none;
}

.container-digikala .dokan-product-edit header.dokan-dashboard-header h1.entry-title span.dokan-product-status-label {
    display: inline-block;
    padding: 8px 15px;
    border-radius: 29px;
    margin: auto 15px auto auto;
    font-size: 14px;
}

.container-digikala .dokan-product-edit header.dokan-dashboard-header .dokan-right a {
    background-color: #4fcce9 !important;
    -webkit-box-shadow: 0 6px 12px 0 rgba(79, 193, 233, .3);
    box-shadow: 0 6px 12px 0 rgba(79, 193, 233, .3);
    border-radius: 5px;
    border: none;
    padding: 10px 20px !important;
    line-height: initial;
}

.container-digikala .product-edit-container .dokan-feat-image-upload a.close {
    line-height: 0px;
    top: 50%;
    width: 100%;
    padding: 0;
    height: 100% !important;
    background: transparent;
    z-index: 2;
}

.container-digikala .product-edit-container .dokan-feat-image-upload a.close:before {
    content: '';
    position: absolute;
    background: #000000;
    opacity: 0.7 !important;
    top: -50%;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.container-digikala .product-edit-container .dokan-feat-image-upload .image-wrap:hover a.close {
    border-radius: 7px;;
}

.product-edit-new-container .dokan-form-top-area .dokan-product-meta .dokan-price-container .content-half-part .dokan-input-group input[type="text"] {
    width: 100%;
    border-radius: 0 4px 4px 0;
}

.container-digikala .product-edit-new-container .dokan-price-container .sale_schedule, .product-edit-new-container .dokan-price-container .cancel_sale_schedule {
    float: none;
}

.container-digikala .product-edit-container #dokan-product-images ul.product_images li.image img, .container-digikala .product-edit-container #dokan-product-images ul.product_images li.dokan-sortable-placeholder img, .container-digikala.product-edit-container #dokan-product-images ul.product_images li.add-image img {
    width: auto;
    height: 100%;
}

.container-digikala .product-edit-container #dokan-product-images ul.product_images li.image, .container-digikala.product-edit-container #dokan-product-images ul.product_images li.dokan-sortable-placeholder, .container-digikala .product-edit-container #dokan-product-images ul.product_images li.add-image {
    border-radius: 7px;
    line-height: 60px !important;
}

.container-digikala .product-edit-container #dokan-product-images ul.product_images li.image a.action-delete, .container-digikala .product-edit-container #dokan-product-images ul.product_images li.dokan-sortable-placeholder a.action-delete, .container-digikala .product-edit-container #dokan-product-images ul.product_images li.add-image a.action-delete {
    line-height: 36px;
    border-radius: 7px;
}

.container-digikala .product-edit-new-container .content-half-part.featured-image {
    padding-right: 25px;
    padding-left: 0;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content .dokan-new-product-area .dokan-form-group.dokan-right {
    margin: 0;
}

.container-digikala .dokan-dashboard-wrap .dokan-dashboard-content .dokan-new-product-area .dokan-form-group.dokan-right .dokan-btn-default {
    border-radius: 5px;
    border: none;
    padding: 10px 20px !important;
    line-height: initial;
}

.container-digikala .dokan-new-product-area .dokan-form-container .content-half-part .featured-image {
    width: auto;
}

.container-digikala .dokan-new-product-area .dokan-form-container .content-half-part .featured-image .dokan-feat-image-upload {
    width: 100%;
    height: auto;
}

.container-digikala .product-edit-container .instruction-inside {
    padding-top: 32px;
    padding-bottom: 40px;
}

.container-digikala .dokan-dashboard-content .select2-container--default .select2-selection--single {
    border: 1px solid #BBB;
    border-radius: 7px;
}

.container-digikala .dokan-dashboard-content .select2-container--default .select2-selection--multiple {
    border: 1px solid #BBB;
    border-radius: 7px;
}

.container-digikala .product-edit-container .dokan-feat-image-upload a.dokan-feat-image-btn {
    padding: 10px 15px;
}

.container-digikala .product-edit-new-container #product_type {
    border: 1px solid #BBB;
    border-radius: 7px;
    padding: 10px;
    height: auto;
    outline: none !important;
}

.container-digikala .product-edit-new-container #_stock_status, .container-digikala .product-edit-new-container #_visibility, .container-digikala .product-edit-new-container #post_status, .container-digikala .product-edit-new-container #product_shipping_class {
    border: 1px solid #BBB;
    border-radius: 7px;
    padding: 10px;
    height: auto;
    outline: none !important;
}

.container-digikala .product-edit-new-container #predefined_attribute {
    border: 1px solid #BBB;
    border-radius: 7px;
    padding: 10px;
    height: auto;
    outline: none !important;
    margin-bottom: 15px;
}

.container-digikala .product-edit-new-container #_purchase_note {
    border: 1px solid #BBB;
    border-radius: 7px;
    padding: 9px 15px;
}

.container-digikala .product-edit-new-container .dokan-shipping-dimention-options .dokan-form-control {
    border: 1px solid #BBB;
    border-radius: 7px;
    padding: 9px 15px;
}

.container-digikala .dokan-settings-content .dokan-settings-area .dokan-banner {
    width: 98%;
    max-width: 100%;
    margin: auto;
    border-radius: 7px;
    height: auto;
    margin-bottom: 20px;
}

.container-digikala .dokan-settings-content .dokan-settings-area .dokan-banner .dokan-remove-banner-image {
    line-height: 0px;
    top: 50%;
    width: 100%;
    padding: 0;
    height: 100% !important;
    background: transparent;
    z-index: 2;
}

.container-digikala .dokan-settings-content .dokan-settings-area .dokan-banner .dokan-remove-banner-image:before {
    content: '';
    position: absolute;
    background: #000000;
    opacity: 0.7 !important;
    top: -50%;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.container-digikala .dokan-settings-content .dokan-settings-area .dokan-banner img {
    width: 100%;
}

.container-digikala .dokan-settings-content .dokan-settings-area .button-area {
    margin-bottom: 40px;
}

@media (max-width: 991px) {
    .container-digikala .dokan-dashboard-wrap .dokan-dashboard-content {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .physical-dokan-list-inline {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .container-digikala .dokan-dashboard-wrap .dokan-dashboard-content .dashboard-content-area .dokan-dash-left .physical-dokan-list-inline li {
        margin: 10px 0 0 0 !important;
        width: 48.5% !important;
    }

    .container-digikala .dokan-dashboard-wrap .dokan-dashboard-content .dashboard-content-area .dokan-dash-left .physical-dokan-list-inline li:first-child {
        margin-left: 10px !important;
    }

    .container-digikala .dokan-dashboard-wrap .dokan-dashboard-content .dashboard-content-area .dokan-dash-left .physical-dokan-list-inline li.ve-list-inline-pageview {
        margin-left: 10px !important;
    }

    .dokan-dashboard .dokan-dash-sidebar #dokan-navigation > input:checked + ul.dokan-dashboard-menu li.back {
        width: 100%;
    }

    /*Start Product List Page*/
    .container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-product-listing .dokan-product-listing-area .product-listing-top ul {
        width: unset;
    }

    .container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-product-listing .dokan-product-listing-area .product-listing-top .dokan-add-product-link a {
        padding: 9px 15px 8px 13px !important;
    }

    .container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-product-listing .dokan-product-listing-area .product-listing-top .dokan-add-product-link span {
        display: none;
    }

    .container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-product-listing .dokan-product-listing-area .product-listing-top .dokan-add-product-link i:before {
        font-family: "Font Awesome 5 Pro" !important;
        font-weight: 300;
        font-size: 22px;
        line-height: initial;
    }

    .container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-product-listing .dokan-product-listing-area .dokan-w12 {
        display: block;
    }

    .container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-product-listing .dokan-product-listing-area .dokan-w12 form {
        width: 100%;
        display: flex;
        margin-bottom: 20px;
    }

    .container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-product-listing .dokan-product-listing-area .dokan-w12 .dokan-product-date-filter .dokan-form-group {
        margin: 0 0 0 10px;
    }

    .container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-product-listing .dokan-product-listing-area .dokan-w12 form.dokan-product-search-form {
        flex-flow: row-reverse;
        justify-content: flex-end;
    }

    .container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-product-listing .dokan-product-listing-area .dokan-w12 .dokan-product-search-form .dokan-form-group {
        margin: 0;
    }
}

@media (max-width: 767px) {
    .container-digikala .dokan-dashboard-wrap .dokan-dash-sidebar .ve-dokan-profile .ve-dokan-avatar {
        margin: 0 0 0 30px;
        float: right;
        width: 65px;
        height: 65px;
    }

    .container-digikala .dokan-dashboard-wrap .dokan-dash-sidebar .ve-dokan-profile .ve-dokan-avatar img {
        height: 50px;
        width: 50px;
    }

    .container-digikala .dokan-dashboard-wrap .dokan-dash-sidebar .ve-dokan-profile .ve-dokan-user-name {
        display: inline-block;
        margin-top: 15px;
        float: right;
    }

    .container-digikala .dokan-dashboard-wrap .dokan-dashboard-content {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .dokan-dashboard .dokan-dash-sidebar #dokan-navigation {
        background: transparent;
        height: 48px;
        position: relative;
    }

    .dokan-dashboard .dokan-dash-sidebar #dokan-navigation ul.dokan-dashboard-menu {
        display: none;
        height: auto !important;
        padding-top: 48px !important;
    }

    .dokan-dashboard .dokan-dash-sidebar #dokan-navigation > #mobile-menu-icon {
        position: relative;
    }

    .dokan-dashboard .container-digikala .dokan-dash-sidebar #dokan-navigation #mobile-menu-icon {
        display: block !important;
        position: relative;
        top: unset;
        right: unset;
        left: unset;
        width: 100%;
        color: #4fcce9;
        border: none;
        text-align: center;
        margin-bottom: 15px;
        -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, .05);
        box-shadow: 0 0 12px 0 rgba(0, 0, 0, .05);
        background-color: #fff;
        border-radius: 10px;
        padding: 7px 0;
        z-index: 10;
    }

    .dokan-dashboard .container-digikala .dokan-dash-sidebar #dokan-navigation {
        height: auto !important;
        background: transparent !important;
    }

    .container-digikala .dokan-dashboard-wrap .dokan-dash-sidebar #dokan-navigation .dokan-dashboard-menu li {
        width: 50%;
        float: none;
    }

    .container-digikala .dokan-dashboard-wrap .dokan-dash-sidebar #dokan-navigation .dokan-dashboard-menu .dokan-common-links {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .container-digikala .dokan-dashboard-wrap .dokan-dash-sidebar .ve-dokan-profile .ve-dokan-user-name {
        float: none;
    }

    .container-digikala .dokan-dashboard-wrap .dokan-dashboard-content .dashboard-content-area .dokan-dash-left .physical-dokan-list-inline li {
        width: 100% !important;
        margin-left: 0 !important;
    }

    .container-digikala .dokan-dashboard-wrap .dokan-dashboard-content .dashboard-content-area .dokan-dash-left .physical-dokan-list-inline li:first-child {
        margin-left: 0 !important;
    }

    .container-digikala .dokan-dashboard-wrap .dokan-dashboard-content .dashboard-content-area .dokan-dash-left .physical-dokan-list-inline li.ve-list-inline-pageview {
        margin-left: 0 !important;
    }

    .container-digikala .dokan-dashboard-wrap .dokan-dash-sidebar #dokan-navigation .dokan-dashboard-menu li {
        float: none;
    }

    .container-digikala .dokan-dashboard-content .dashboard-content-area .dokan-dash-left .dashboard-widget.reviews {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .container-digikala .dokan-dashboard-content .dashboard-content-area .dokan-dash-left .dashboard-widget.products {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    /*Start Product List Page*/
    .container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-product-listing .dokan-product-listing-area .product-listing-top ul {
        float: none !important;
    }

    .container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-product-listing .dokan-product-listing-area .product-listing-top ul li {
        padding: 0 !important;
        margin: 0 0 40px;
        width: 49%;
        text-align: center;
    }

    .container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-product-listing .dokan-product-listing-area .product-listing-top .dokan-add-product-link a {
        display: block;
        width: 100%;
        text-align: right;
        position: relative;
    }

    .container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-product-listing .dokan-product-listing-area .product-listing-top .dokan-add-product-link i {
        margin-right: 25px;
    }

    .container-digikala .dokan-dashboard-wrap .dokan-dashboard-content.dokan-product-listing .dokan-product-listing-area .product-listing-top .dokan-add-product-link a span {
        position: absolute;
        display: block;
        top: 9px;
        right: 0;
        left: 0;
        text-align: center;
        line-height: inherit;
    }
}
