/*Start Tiket*/
.upanel-content-inner .wpast-wrap .wpast-panel-header {
    display: flex;
    justify-content: space-between;
}

.upanel-content-inner .wpast-wrap .wpast-panel-header h4 {
    float: none;
    margin: auto 0;
}

.upanel-content-inner .wpast-wrap .wpast-panel-header .wpast-btn {
    padding: 5px 15px;
    height: auto;
    float: none;
    margin-right: auto;
}

.upanel-content-inner .wpast-wrap .wpast-panel-header .wpast-all-tickets {
    position: relative;
    padding: 8px 20px 8px 17px;
    height: auto;
    float: none;
    margin-right: auto;
    border: none;
    color: #606265;
    font-weight: 700;
    font-size: 14px;
    -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, .05);
    background-color: #fff;
    border-radius: 5px;
}

.upanel-content-inner .wpast-wrap .wpast-panel-header .wpast-all-tickets:before {
    position: absolute;
    content: "\f02c";
    font-family: "Font Awesome 5 Pro";
    font-weight: 3;
    font-size: 15px;
    top: 6px;
    right: -17px;
    line-height: 33px;
    background-color: #4fcce9;
    -webkit-box-shadow: 0 6px 12px 0 rgba(79, 193, 233, .3);
    box-shadow: 0 6px 12px 0 rgba(79, 193, 233, .3);
    width: 30px;
    height: 30px;
    border-radius: 5px;
    color: #fff;
}

.upanel-content-inner .wpast-wrap .wpast-help-text p {
    margin: 0;
    font-weight: 400;
    text-align: justify;
}

.upanel-content-inner .wpast-wrap .wpast-not-found-answer {
    position: relative;
    border: none;
    height: auto;
    color: #606265;
    font-weight: 700;
    font-size: 14px;
    -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, .05);
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 25px 10px 20px;
}

.upanel-content-inner .wpast-wrap .wpast-not-found-answer:before {
    position: absolute;
    content: "\f3ff";
    font-family: "Font Awesome 5 Pro";
    font-weight: 3;
    font-size: 15px;
    top: 12px;
    right: -17px;
    line-height: 32px;
    background-color: #4fcce9;
    -webkit-box-shadow: 0 6px 12px 0 rgba(79, 193, 233, .3);
    box-shadow: 0 6px 12px 0 rgba(79, 193, 233, .3);
    width: 30px;
    height: 30px;
    border-radius: 5px;
    color: #fff;
}

.upanel-content-inner .wpast-wrap .wpast-panel-header .wpast-new-ticket {
    position: relative;
    border: none;
    height: auto;
    color: #606265;
    font-weight: 700;
    font-size: 14px;
    -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, .05);
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 25px 10px 20px;
}

.upanel-content-inner .wpast-wrap .wpast-panel-header .wpast-new-ticket:before {
    position: absolute;
    content: "\f3ff";
    font-family: "Font Awesome 5 Pro";
    font-weight: 3;
    font-size: 15px;
    top: 8px;
    right: -17px;
    line-height: 32px;
    background-color: #4fcce9;
    -webkit-box-shadow: 0 6px 12px 0 rgba(79, 193, 233, .3);
    box-shadow: 0 6px 12px 0 rgba(79, 193, 233, .3);
    width: 30px;
    height: 30px;
    border-radius: 5px;
    color: #fff;
}

.upanel-content-inner .wpast-view-ticket .wpast-row .wpast-main-content {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.upanel-content-inner .wpast-view-ticket .wpast-row .wpast-sidabar {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.upanel-content-inner .wpast-wrap .wpast-status {
    border-radius: 0px 14px 0px 14px;
}

.upanel-content-inner .wpast-wrap .wpast-filter-container .wpast-filter {
    /*height: auto;*/
    padding: 4px 15px;
    box-shadow: none;
    border: none;
    border-radius: 4px;
    background-color: #4fcce9;
}

.upanel-content-inner .wpast-wrap .wpast-help-text {
    padding: 0;
}

.digikala-content-inner .wpast-wrap .wpast-panel-header {
    display: flex;
    justify-content: space-between;
}

.digikala-content-inner .wpast-wrap .wpast-panel-header h4 {
    float: none;
    margin: auto 0;
}

.digikala-content-inner .wpast-wrap .wpast-panel-header .wpast-btn {
    padding: 5px 15px;
    height: auto;
    float: none;
    margin-right: auto;
}

.digikala-content-inner .wpast-wrap .wpast-panel-header .wpast-all-tickets {
    position: relative;
    padding: 8px 20px 8px 17px;
    height: auto;
    float: none;
    margin-right: auto;
    border: none;
    color: #606265;
    font-weight: 700;
    font-size: 14px;
    -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, .05);
    background-color: #fff;
    border-radius: 5px;
}

.digikala-content-inner .wpast-wrap .wpast-panel-header .wpast-all-tickets:before {
    position: absolute;
    content: "\f02c";
    font-family: "Font Awesome 5 Pro";
    font-weight: 3;
    font-size: 15px;
    top: 6px;
    right: -17px;
    line-height: 33px;
    background-color: #4fcce9;
    -webkit-box-shadow: 0 6px 12px 0 rgba(79, 193, 233, .3);
    box-shadow: 0 6px 12px 0 rgba(79, 193, 233, .3);
    width: 30px;
    height: 30px;
    border-radius: 5px;
    color: #fff;
}

.digikala-content-inner .wpast-wrap .wpast-help-text p {
    margin: 0;
    font-weight: 400;
    text-align: justify;
}

.digikala-content-inner .wpast-wrap .wpast-not-found-answer {
    position: relative;
    border: none;
    height: auto;
    color: #606265;
    font-weight: 700;
    font-size: 14px;
    -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, .05);
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 25px 10px 20px;
}

.digikala-content-inner .wpast-wrap .wpast-not-found-answer:before {
    position: absolute;
    content: "\f3ff";
    font-family: "Font Awesome 5 Pro";
    font-weight: 3;
    font-size: 15px;
    top: 12px;
    right: -17px;
    line-height: 32px;
    background-color: #4fcce9;
    -webkit-box-shadow: 0 6px 12px 0 rgba(79, 193, 233, .3);
    box-shadow: 0 6px 12px 0 rgba(79, 193, 233, .3);
    width: 30px;
    height: 30px;
    border-radius: 5px;
    color: #fff;
}

.digikala-content-inner .wpast-wrap .wpast-panel-header .wpast-new-ticket {
    position: relative;
    border: none;
    height: auto;
    color: #606265;
    font-weight: 700;
    font-size: 14px;
    -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, .05);
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 25px 10px 20px;
}

.digikala-content-inner .wpast-wrap .wpast-panel-header .wpast-new-ticket:before {
    position: absolute;
    content: "\f3ff";
    font-family: "Font Awesome 5 Pro";
    font-weight: 3;
    font-size: 15px;
    top: 8px;
    right: -17px;
    line-height: 32px;
    background-color: #4fcce9;
    -webkit-box-shadow: 0 6px 12px 0 rgba(79, 193, 233, .3);
    box-shadow: 0 6px 12px 0 rgba(79, 193, 233, .3);
    width: 30px;
    height: 30px;
    border-radius: 5px;
    color: #fff;
}

.digikala-content-inner .wpast-view-ticket .wpast-row .wpast-main-content {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.digikala-content-inner .wpast-view-ticket .wpast-row .wpast-sidabar {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.digikala-content-inner .wpast-wrap .wpast-status {
    border-radius: 0px 14px 0px 14px;
}

.digikala-content-inner .wpast-wrap .wpast-filter-container .wpast-filter {
    /*height: auto;*/
    padding: 4px 15px;
    box-shadow: none;
    border: none;
    border-radius: 4px;
    background-color: #4fcce9;
}

.digikala-content-inner .wpast-wrap .wpast-help-text {
    padding: 0;
}