/*Start Deposits*/

.yith-wcdp-my-deposits ul {
    padding: 0;
    margin: 0;
}

.yith-wcdp-my-deposits ul li {
    list-style: none;

}

.yith-wcdp-my-deposits table tbody .order-actions {
    display: flex;
    justify-content: space-between;
}

.yith-wcdp-my-deposits table tbody .order-actions a {
    background-color: #4fcce9 !important;
    border-radius: 4px;
    border: none;
    color: #ffffff !important;
    font-size: 15px;
}

#yith-wcdp-add-deposit-to-cart .yith-wcdp-single-add-to-cart-fields {
    position: relative;
}

#yith-wcdp-add-deposit-to-cart .yith-wcdp-single-add-to-cart-fields label {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: 15px;
    font-weight: 400;
    margin: auto;
}

#yith-wcdp-add-deposit-to-cart .yith-wcdp-single-add-to-cart-fields label input {
    margin: auto 0 auto 10px;
}

/*#yith-wcdp-add-deposit-to-cart .yith-wcdp-single-add-to-cart-fields label .ve-holder-pay-full {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 0;*/
/*    left: 0;*/
/*    text-align: center;*/
/*}*/

#yith-wcdp-add-deposit-to-cart .yith-wcdp-single-add-to-cart-fields label .full-price {
    margin-top: 10px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

#yith-wcdp-add-deposit-to-cart .yith-wcdp-single-add-to-cart-fields label .full-price del {
    margin: 0;
}

#yith-wcdp-add-deposit-to-cart .yith-wcdp-single-add-to-cart-fields label .deposit-price {
    margin-top: 10px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

#yith-wcdp-add-deposit-to-cart .yith-wcdp-single-add-to-cart-fields label .deposit-price del {
    margin: 0;
}

#yith-wcdp-add-deposit-to-cart .yith-wcdp-single-add-to-cart-fields span .woocommerce-Price-amount {
    font-size: 15px;
}
